@charset "UTF-8";


/* h1 ~ h6  */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #222222;
    padding: 0px;
    margin: 0px;
    line-height: 1;
}

/* margin style */
.mgc {margin:0 auto;}
.mt0 {margin-top:0 !important;}
.ml0 {margin-left:0 !important;}
.ml5 {margin-left:5px !important;}
.ml10{margin-left:10px !important;}
.ml15 {margin-left:15px !important;}
.ml20 {margin-left:20px !important;}
.ml30 {margin-left:30px !important;}
.mr0{margin-right:0px !important;}
.mr20 {margin-right:20px !important;}
.mt5 {margin-top:5px !important;}
.mt10 {margin-top:10px !important;}
.mt15 {margin-top:15px !important;}
.mt20 {margin-top:20px !important;}
.mt30 {margin-top:30px !important;}
.mt35 {margin-top:35px !important;}
.mt40 {margin-top:40px !important;}
.mt45 {margin-top:45px !important;}
.mt50 {margin-top:50px !important;}
.mt60 {margin-top:60px !important;}
.mt100 {margin-top:100px !important;}
.mb0 {margin-bottom:0 !important}
.mb5 {margin-bottom:5px !important}
.mb10 {margin-bottom:10px !important;}
.mb15 {margin-bottom:15px !important;}
.mb20 {margin-bottom:20px !important;}
.mb30 {margin-bottom:30px !important;}
.mb40 {margin-bottom:40px !important;}
.mb50 {margin-bottom:50px !important;}
.mb60 {margin-bottom:60px !important;}
.mb100 {margin-bottom:100px !important;}
.mr5 {margin-right:5px !important;}
.mr10 {margin-right:10px !important;}
.mr15 {margin-right:15px !important;}
.ml10 {margin-left:10px !important;}
.ml35 {margin-left:35px !important;}
.mtm3 {margin-top:-3px !important;}
.mtm10 {margin-top:-10px !important;}
.mtm20 {margin-top:-20px !important;}
.mbm10 {margin-bottom:-10px !important;}
.mbm30{margin-bottom:-30px !important;}


/*padding style*/
.pt10 {padding-top:10px !important;}
.pt20 {padding-top:20px !important;}
.pt30 {padding-top:20px !important;}
.pt40 {padding-top:40px !important;}
.pt100 {padding-top:100px !important;}
.pl0 {padding-left:0 !important;}
.pl10 {padding-left:10px !important;}
.pr20 {padding-right:20px !important;}
.pb10 {padding-bottom:10px !important;}
.pb20 {padding-bottom:20px !important;}
.pb30 {padding-bottom:30px !important;}
.pb40 {padding-bottom:40px !important;}
.pb50 {padding-bottom:50px !important;}
.pb100 {padding-bottom:100px !important;}

.block {display:block;}
.inblock {display:inline-block;*display:inline;zoom:1;}
.clear {*zoom:1; clear:both;}
.clear:after {content:""; display:block; clear:both;}
.fr::after, .fl::after{content: '';display: block;clear: both;}
.fl {float:left !important;}
.fr {float:right !important;}
.t_c {text-align:center !important;}
.t_l {text-align:left !important;}
.t_r {text-align:right !important;}
.btn_center {text-align:center; margin-top:30px;}
.btn_right {text-align:right; margin-top:10px; margin-bottom:15px;}
.btn_border {border-top:1px solid #e1e1e1; padding-top:30px;text-align:center; margin-top:30px;}
.bkn {background:0 none !important;}

/* font color */
i {font-family:'Noto Sans CJK kr','Noto Sans kr', 'LATO', sans-serif !important; letter-spacing:0}
.base i {position:relative; top:1px;}
i.big {font-size:18px; position:relative; top:2px;}
.bold {font-weight:500;} /* 중복확인 */
.normal {font-weight:300;} /* 중복확인 */
.light {font-weight:200;} /* 중복확인 */
.ptxt01 {color:#666666;}
.ptxt02 {color:#999999;}
.ptxt03 {color:#333333;}
.c_primary {color:#fd4802 !important;} /* 중복확인 */
.c_blue{color:#2b62c2 !important}
.c_pink {color:#bd484a !important;}
.c_white {color:#ffffff !important;}
.c_yellow {color:#f09614 !important;}
.c_orange{color: #ff634c !important;}
.c_green{color:#6a9913 !important;}
.c_mint{color:#05B9AA !important;}
.c_mint2{color:#37b4be !important;}
.c_red{color:#ff0000 !important;}
.c_red2{color:#f30e0e !important;}
.c_black{color:#000000 !important;}
.c_black2{color:#222222 !important;}
.c_gray{color:#888888 !important;}
.c_gray2{color:#666666 !important;}
.c_ygreen{color:#5fc332 !important;}
.f_size14{font-size:14px;}
.f_size13{font-size:13px;}
.f_size12{font-size:12px; }
.f_size10{font-size:10px;}
.f_normal {font-weight:normal}


/* text state */
.t_muted {color: #ccd0d9 !important;}
.t_req {color: #fd4802 !important;}
.t_help {color: #888888 !important;}
.t_info {color: #888888 !important;}
.t_err {color: #fd4802 !important;}
.t_err::before {content: '';display: inline-block; width:17px; height:17px; background:url('../../../images/mo/ico_err.png') no-repeat right top;margin: 0px 2px 0 0px;position: relative;top: 4px;left: 0;right: auto;bottom: auto;}
.t_success {color: #333333 !important;}


/* form style (hyangah_0223_수정중 - input[type="text"] padding 수정) */
input,  textarea {font-size:12px; font-family:'Noto Sans KR', 'LATO', sans-serif; color:#666666; vertical-align:middle;}
select{font-size:12px; font-family:'Noto Sans KR', 'LATO', sans-serif; color:#666666; vertical-align:middle;}
input[type="text"], input[type="password"] {padding:0 15px; border:1px solid #dddddd;box-sizing: border-box;}
input[type="text"]:focus, input[type="password"]:focus,
input[type="text"].active, input[type="password"].active {border-color: #aaaaaa;} 
input[type="text"]:disabled, input[type="password"]:disabled, input[type="select"]:disabled,
input[type="text"]:read-only, input[type="password"]:read-only, input[type="select"]:read-only {background: #F9F9F9;border-color: #dddddd;}
table input[type="text"], table input[type="password"] {padding:6px 0 6px 9px;}
input[type="checkbox"], input[type="radio"] {width:13px; height:13px; margin-right:3px; position:relative; top:1px;}
input[type=search]::-webkit-search-cancel-button{display:none;}
input[type="reset"], input[type="button"], input[type="submit"], button {line-height:normal !important;}

.input_wrap > .btn, .input_wrap + .btn, .form_field.form_full .btn {border-color: #222222;margin-left: 10px;float: left;display: inline;}
.input_wrap > .btn:hover, .input_wrap > .btn:focus, .input_wrap > .btn:active, .input_wrap > .btn.active,
.input_wrap + .btn:hover, .input_wrap + .btn:focus, .input_wrap + .btn:active, .input_wrap + .btn.active,
.input_wrap > .open > .tgl_dropdown.btn , .input_wrap + .open > .tgl_dropdown.btn {border-color: rgb(34 34 34 / 0.6);}

/* 체크박스 */
.form_field input[type="checkbox"]{ position:absolute; width:1px; height:1px; padding:0; margin:-1px; overflow:hidden; clip:rect(0,0,0,0); border:0; } 
.form_field input[type="checkbox"] + label{ display:inline-block; position:relative; padding-left:26px; cursor:pointer; font-size: 12px; line-height: 1.4;font-weight: 300;letter-spacing: 0;} 
.form_field input[type="checkbox"] + label:before{ 
  content:''; position:absolute; left:0; top:50%; margin-top:-10px; width:20px; height:20px; text-align:center; background:#fff; /*border:1px solid #ccc;*/ border-radius: 100%; box-sizing:border-box; 
  background: url('../../../images/mo/ico_chk_rdi.png') no-repeat;
  background-position: 0px 0px;
} 
.form_field input[type="checkbox"]:Disabled + label, 
.form_field input[type="radio"]:Disabled + label{cursor: default;opacity: .45;} 

.form_field input[type="checkbox"]:checked + label:after{ 
  content: ''; position:absolute; top:50%; margin-top:-10px; left:0; width:20px; height:20px; background-color: #fd4800; border-radius: 100%; box-sizing:border-box; 
  background: url('../../../images/mo/ico_chk_rdi.png') no-repeat;
  background-position: -20px 0px;
}

.form_field input[type="checkbox"]:Disabled + label:after{ 
  content: ''; position:absolute; top:3px; left:0; width:20px; height:20px; background-color: #fd4800; border-radius: 100%; box-sizing:border-box; 
  background: url('../../../images/mo/ico_chk_rdi.png') no-repeat;
  background-position: -40px 0px;
}

/* 라디오 */
.form_field input[type="radio"]{ position:absolute; width:1px; height:1px; padding:0; margin:-1px; overflow:hidden; clip:rect(0,0,0,0); border:0; } 
.form_field input[type="radio"] + label{ display:inline-block; position:relative; padding-left:2.5rem; cursor:pointer; font-size: 1.3rem;line-height: 1.5;font-weight: 300;letter-spacing: 0;} 
.form_field input[type="radio"] + label:before{ 
  content:''; position:absolute; left:0; top:50%; margin-top:-10px; width:20px; height:20px; text-align:center; background:#fff; /*border:1px solid #ccc;*/ border-radius: 100%; box-sizing:border-box; 
  background: url('../../../images/mo/ico_chk_rdi.png') no-repeat;
  background-position: -60px 0px;
} 

/* 보여질 부분의 스타일을 추가하면 된다. */ 
.form_field input[type="radio"]:checked + label:after{ 
  content: ''; position:absolute; top:50%; margin-top:-10px; left:0; width:20px; height:20px; background-color: #fd4800; 
  background: url('../../../images/mo/ico_chk_rdi.png') no-repeat;
  background-position: -80px 0px;
}

.form_field input[type="radio"]:Disabled + label:after{ 
  content: ''; position:absolute; top:50%; margin-top:-10px; left:0; width:20px; height:20px; background-color: #fd4800; 
  background: url('../../../images/mo/ico_chk_rdi.png') no-repeat;
  background-position: -100px 0px;
}


/* 이미지 체크박스 */
.chk_img+label span {border: 2px solid transparent; padding: 10px; box-sizing: border-box;}
.chk_img:checked+label span {border: 2px solid #fd481a; padding: 10px; box-sizing: border-box;}


/* form */
.form_wrap {}
.form_wrap::after,
.form_field:after,
.input_wrap::after {content: ''; display: block; clear: both;}

.form_full {} 
select, 
.form_full input[type="text"], 
.form_full input[type="select"], 
.form_full input[type="password"]{ width: 100%; }
.form_full .input_wrap, 
.form_full.input_wrap{display: block;}

.form_col_w {width: 100%;}
.form_col_c {width: 530px; margin: 0 auto;}
.form_field {width: 100%;margin-left: 0px !important;margin-right: 0px !important;position: relative;display: -webkit-box;display: -ms-flexbox;display: flex;}
.input_wrap{position: relative;display: table;border-collapse: separate;}
.input_wrap, 
.input_label {vertical-align: top;text-align: left;}
.input_label { line-height: 3.0; font-size: 16px; font-weight: 300;}
.input_label span[class*="t_"]{display: inline !important;text-indent: -10px;margin-left: -10px;}
.input_wrap .form_control, 
.input_group_addon, 
.input_group_btn {display: table-cell;float: left;}
.form_control{
  height: 45px;
  font-size: 12px;
  line-height: 43px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  border: 1px solid #D5D5D5;
  position: relative;
}
.form_control.err {border: 1px solid #fd4802 !important; background: #fff6f2;}

.usable {display: none;}
.form_control.usable + .usable:before {content:'사용가능';  position:absolute; top:50%; bottom: auto; right: 20px; left: auto; transform: translateY(-50%); padding-left:15px; background: url('../../../images/mo/ico_usable1.png') no-repeat 0 40%; color:#222; font-size:12px; font-weight:200; line-height:1;}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}


/* column*/
.ui_row{width:100%; margin-left: 0px !important; margin-right: 0px !important;margin-bottom: 15px;position: relative; /*display: -webkit-box;display: -ms-flexbox;display: flex;*/}
.ui_row [class^='ui_col_'] {min-height: 1px;margin-left:0.4rem; margin-right:0.4rem;}
.ui_row [class^='ui_col_']:first-child {margin-left: 0;}
.ui_row [class^='ui_col_']:last-child {margin-right: 0;}

.ui_col_1, .ui_col_2, .ui_col_3, 
.ui_col_4, .ui_col_5, .ui_col_6, 
.ui_col_7, .ui_col_8, .ui_col_9, 
.ui_col_10, .ui_col_11, .ui_col_12{
    position: relative;
    min-height: 1px;
}

.ui_col_1, .ui_col_2, .ui_col_3, 
.ui_col_4, .ui_col_5, .ui_col_6, 
.ui_col_7, .ui_col_8, .ui_col_9, 
.ui_col_10, .ui_col_11, .ui_col_12 {
    float: left;
}
.ui_col_1{width:8.33333333%}
.ui_col_2{width:16.66666667%}
.ui_col_3{width:25%}
.ui_col_4{width:33.33333333%}
.ui_col_5{width:41.66666667%}
.ui_col_6{width:50%}
.ui_col_7{width:58.33333333%}
.ui_col_8{width:66.66666667%}
.ui_col_9{width:75%}
.ui_col_10{width:83.33333333%}
.ui_col_11{width:91.66666667%}
.ui_col_12{width:100%}


/* ico */
.ico {position: relative;/*top: 1px;*/display: inline-block; font-style: normal;font-weight: 400;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.ico:before {display: inline-block; background-repeat:no-repeat; background-size:contain; background-position:0% 0%; vertical-align:middle;}
.btn_ico {display: inline-block;position: relative;}
.btn .ico {font-size: 14px;margin-right: 5px;}
[class^="ico_"]:before {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
[class^="ico_content_"]::before {content:''; display:block;} 

.ico_logo:before {content: ""; display:block; width:184px; height:28px; background-image: url('../../../images/mo/logo_STYLE24.png'); }
.ico_logo_ft:before {content: ""; display:block; width:150px; height:23px; background-image: url('../../../images/mo/logo_STYLE24_footer.png'); }
.ico_search:before {content: ""; display: inline-block; width:22px; height:26px; background-image: url('../../../images/mo/ico_sch.png'); }
.ico_bag:before {content: ""; display: inline-block; width:22px; height:26px; background-image: url('../../../images/mo/ico_bag.png');}
.ico_content_order::before {width:40px; height: 46px; background: url('../../../images/mo/ico_content_order.png') no-repeat 50% 50%;} 
.ico_content_find::before {width:36px; height: 46px; background: url('../../../images/mo/ico_content_find.png') no-repeat 50% 50%;} 
.ico_content_none::before {width:36px; height: 46px; background: url('../../../images/mo/ico_content_none.png') no-repeat 50% 50%;} 
.ico_content_security::before {width:38px; height: 43px; background: url('../../../images/mo/ico_content_security.png') no-repeat 50% 50%;} 
.ico_content_mail::before {width:48px; height: 40px; background: url('../../../images/mo/ico_content_mail.png') no-repeat 50% 50%;} 
.ico_content_dormant::before {width:36px; height: 46px; background: url('../../../images/mo/ico_content_dormant.png') no-repeat 50% 50%;}  
.ico_content_dormant2::before {width:36px; height: 46px; background: url('../../../images/mo/ico_content_dormant2.png') no-repeat 50% 50%;}
.ico_blank::before {content: ""; width:13px; height:13px; background-image: url('../../../images/mo/ico_blank.png');}
.ico_ft_arrow_r:before {content: ""; width:11px; height:11px; background-image: url('../../../images/mo/ico_ft_arrow.png');}
.ico_ft_arrow_b:before {content: ""; width:11px; height:11px; background-image: url('../../../images/mo/ico_ft_arrow.png'); transform: rotate(90deg);}
.ico_ft_arrow_t:before {content: ""; width:11px; height:11px; background-image: url('../../../images/mo/ico_ft_arrow.png'); transform: rotate(-90deg);}
.ico_kcl::before {content: ""; width:32px; height:50px; background-image: url('../../../images/mo/ico_kcl.png');}
.ico_picker::before {content: ""; width:40px; height:40px; background:url(../../../images/mo/ico_picker.png) no-repeat 50% 50%;}
.ico_trash::before {content: ""; width:13px; height:16px; background:url(../../../images/mo/ico_trash.png) no-repeat 50% 50%;}
.ico_like::before {content: ""; width: 19px;height:16px;background: url(../../../images/mo/ico_like.png) no-repeat 0% 50%; background-size:cover;}
.active .ico_like::before {background-position:100% 50%;}
.ico_saletag::before {content: ""; width:36px;height:16px;background: url(../../../images/mo/ico_saletag.png) no-repeat 50% 50%; background-size:cover;}
.ico_calender::before {content: ""; width:15px;height:16px;background: url(../../../images/mo/ico_calender.png) no-repeat 50% 50%; background-size:cover;}
.ico_snslogin::before {content: ""; background-image: url(../../../images/mo/ico_snslogin.png); background-size:auto 100%;}
.ico_snslogin.kakao::before {width:20px; height:22px; background-position:0 0;}
.ico_snslogin.naver::before {width:16px; height:22px; background-position:-20px 0;}
.ico_snslogin.yes24::before {width:34px; height:22px; background-position:-36px 0;}
.ico_check::before {content: ""; width:10px; height:8px; background-image: url(../../../images/mo/ico_check.png); background-size:100% auto; margin-bottom:2px;}
.ico_check.black::before {content: ""; background-position:0 0;}
.ico_check.red::before {content: ""; background-position:0px -8px;}
.ico_check.gray::before {content: ""; background-position:0px -16px;}
.ico_phone::before {content: ""; width:15px; height:20px; background:url(../../../images/mo/ico_join_bg.png) no-repeat 0 0; background-size:cover;}
.ico_ipin::before {content: ""; width:20px; height:20px; background:url(../../../images/mo/ico_join_bg.png) no-repeat -20px 0; background-size:cover;}



/* =========================(폴딩리스트게시판) ==========================*/
/* folding Group */
.fold_head a::after ,
.fold_head a div::after,
.fold_head .fold_tit::after {content: ''; display: block; clear: both;}

.foldGroup {float: left; width: 100%; margin-bottom: 20px;}
.foldGroup > ul > li {float: left; position: relative; width: 100%; margin: 0px; border: 0px; border-top: 1px solid #E5E5E5; border-bottom: 1px solid #E5E5E5; box-sizing: border-box;}
.foldGroup > ul > li:first-child {border-top: 1px solid #222;}
.foldGroup > ul > li+li {margin:0; border-top:0px solid; box-sizing:border-box;}
.foldGroup .fold_head,
.foldGroup .fold_foot,
.foldGroup .fold_cont {float:left; width:100%;}
.foldGroup .fold_head {position: relative; width:100%; border-bottom: 0;}
.fold_head {padding: 0px; border-bottom: 1px solid transparent;}
.fold_head::after {content: ''; position: absolute; display: inline-block; top:50%; left: auto; right:20px; transform: translateY(-50%);  width:13px; height:8px; background: url('../../../images/pc/ico_fold_arrow1.png'); background-repeat: no-repeat; background-position: 0 100%; background-size: cover;}
.fold_head.on::after {background-repeat: no-repeat; background-position: 0 0%;}
.foldGroup .fold_head a {display:block; width:inherit; height:100%; padding:20px; box-sizing:border-box;}
.fold_head .fold_tit {position:relative;}
.fold_head .fold_tit span { position: relative; height: auto; font-weight:300; color: #222; text-decoration: none; text-align: justify; letter-spacing:-0.025em;}
.fold_head .fold_state {display:inline-block!important; width:auto; box-sizing:border-box; text-align: center; font-size:12px; font-weight: 300; color:#888;}
.fold_head .fold_state .important {display:inline-block; position:relative; padding:2px 10px; background-color: #fd4802; color:#fff; font-size:14px; font-weight:300; padding:4px 10px 2px;}
.fold_head .fold_state.fix {color:#222;}
.fold_head .fold_state.done {color:#fff; background-color:#fd4801;}
.fold_head .fold_state.doing {color:#fff; background-color:#aaa;}
.fold_head .fold_category {width:100px; font-weight:200; text-align:center; color:#888;}
.fold_head .data{font-size:12px; font-weight: 200; color:#888;}
.foldGroup .fold_cont {display:none; padding: 0; position: relative; color:#666; font-weight:200; font-size:14px; line-height:1.625;}
.fold_cont > div:first-of-type {border-top:none;}
.fold_cont .img_group .thumb_pic {position:relative; display:inline-block; width:74px; height:74px; border:1px solid #ddd; margin-right:4px; box-sizing:border-box; overflow:hidden;} 
.fold_cont .img_group .thumb_pic img {position:absolute; top:50%; transform: translateY(-50%); width:100%; height: auto;}
.fold_cont .fold_detail,
.fold_cont .fold_answer {position:relative; padding:20px;}
.fold_cont .fold_answer {border-top:1px solid #ddd }
.fold_cont .fold_detail .btn {margin-top:25px; padding:6px 13px; color:#222; border-color:#a1a1a1; font-size:12px; font-weight:200; background:none;}
.fold_cont .fold_detail .img_group {margin-top: 24px; overflow: hidden;}
.fold_cont .fold_answer > div {position:relative;}
.fold_head .fold_tit span.prod{font-size:12px; font-weight:200; color: #888; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.fold_detail,
.fold_answer{background:#f5f5f5;}
.fold_answer .data{font-size:12px; font-weight: 200; color:#888;}
.fold_answer div.answer_head{color:#222; font-weight:300;}
.fold_answer .answer_body{font-weight:200;}
.fold_answer .answer_foot{position:relative}
.fold_answer .answer_foot .btn_delete{position:absolute; right:0; bottom:0; font-size:12px; color:#777;}
.fold_answer .answer_foot .btn_delete > span{position:relative; display:inline-block;}
.fold_answer .answer_foot .btn_delete > span:after{display:block; content: ''; position:absolute; left:0; bottom:-2px; width:100%; height:1px; background-color:#777777;}
.fold_head .fold_state,
.fold_head .prod{padding:3px 5px;}
.fold_head .prod{padding-right:0;}
.fold_head .fold_state{background-color:#000; color:#fff;}
.fold_head .fold_tit > div{padding-right:3rem;}
.fold_head .fold_tit > div.lap1{margin-bottom:3px; display:flex;}
.fold_head .fold_tit > div.lap2{margin-bottom:3px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.case1 .fold_head .prod{padding-bottom:0;}
.case1 .fold_head .prod{padding-left:0;}
.case2 .fold_head::after{margin-top:-10px;}





/* =========================밀림이 추가하는 새로운 공통 ==========================*/

/* 비지깔린 레이아웃  공통으로 쓸거임*/
.blockLyout{background-color:#ddd;}
.blockLyout > .block{margin-top:1.5rem; background-color:#Fff;}
.blockLyout > .block:first-child{margin-top:0;}



/* 색상에 관하여... */
/* 
.주색상(약 7가지)
.텍스트색상 (약 4종)
.라인컬러 (약 5종)
.비지컬러 (약 5종) 
*/


.txC1{color:#222222!important;}
.txC2{color:#666666!important;}
.txC3{color:#888888!important;}
.txC4{color:#ffffff!important;}

.bgC1{background-color:#222222!important;}
.bgC2{background-color:#444444!important;}
.bgC3{background-color:#dddddd!important;}
.bgC4{background-color:#fff6f2!important;}
.bgC5{background-color:#f5f5f5!important;}
.bgC6{background-color:#f1f1f1!important;} /* <----풋터색상*/




/* 텍스트에 관하여... */


/* 버튼에 관한... */
/* 
.플로팅버튼(플롯팅 되어 구매하기로 이어질 버튼)
.라지버튼(라인과 배경색으로 이루어진 버튼튼)
.미듐버튼(사진첨부, 다음브랜드보기, 더보기, 자세히보기기 유형 보더라인 유형이며 아이콘이 들어간 유형)
.스몰버튼1(라인과 배경색으로 이루어진 버튼)
.스몰버튼2(라인과 배경색으로 이루어진 버튼)
.텍스트버튼(텍스타와 아이콘으로 이루어진 버튼) 
*/

.btnL{width:100%;}
.btn_dark {
    color: #ffffff;
    background-color: #222222;
    border-color: #222222;
}




/* 네비게이션에 관하여... */


/* 탭에 관하여... */



/* 텍스트필드 관하여... */
/* 
.인풋박스
.셀렉트박스
.텍스트박스
.체크박스
.라디오박스 
*/



/* 팝업에 관하여... */


/* 리스트에 관하여... */


/* 리스트에 관하여... */

/*bottomsheet에 관하여*/


/*내가 정의하는 그리드*/
/* 
.gridLyout{background-color:#ddd}
.gridLyout .grid{margin-top:10px;} 
*/






