@charset "UTF-8";

.cs_contactUs_my .header { height: 2rem; padding: 0 2rem; display: flex; justify-content: space-between; align-items: center; font-size: 2rem; font-weight: bold; margin: 1.6rem 0;}

.cs_contactUs_my .header .close{position: relative; height:5.2rem;}
.cs_contactUs_my .header .close span{position:absolute; left:50%; margin-left:-0.5px; display:inline-block; width:1px; height:18px; background-color:#000; transform:rotate(45deg);}
.cs_contactUs_my .header .close span:first-child{transform:rotate(-45deg);}
.cs_contactUs_my .header .close a{position:absolute; top:50%; right:0; margin-top:-0.8rem; width:1.8rem; height:1.8rem; font-size:0; background-color:#fff;}

.cs_contactUs_my .inner { padding-bottom: 0;}

.cs_contactUs_my .select_dress span { width: 0.7rem; height: 0.7rem; background: url(../../../images/mo/ico_star02.png) no-repeat center; background-size: 0.7rem auto; display: inline-block; margin: 0 0 0 0.5rem; }

.cs_contactUs_my input { width: 100%; height: 4.5rem; box-sizing: border-box; font-size: 1.4rem;}

.cs_contactUs_my .test input { background: url(../../../images/mo/ico_star02.png) no-repeat 37% center; background-size: 0.7rem auto; }

.cs_contactUs_my textarea { width: 100%; height: 15rem; box-sizing: border-box; padding: 1.5rem; font-size: 1.4rem;}

.cs_contactUs_my .doc_contactus { position: relative;}
.cs_contactUs_my .txt_cnt { position: absolute; bottom: 1.4rem; right: 1.4rem;}

.cs_contactUs_my .form_field { margin: 0 0 1.2rem; }

.cs_contactUs_my .info_addfile ul li { margin: 0 0 1rem; font-size: 1.2rem; color: #c6c6c6;}

.cs_contactUs_my .info_addfile ul { margin: 0 0 3rem;}

.form_field .radio_wrap {width: 100%; display: flex; font-size: 1.4rem; font-weight: 600; padding: 0 0 6rem;}

.form_field .radio_wrap p { width: 40%; line-height: 2.4rem;}

.form_field .radio_wrap .ui_col_4 {width: 25%;}

.cs_contactUs_my_footer { width: 100%; height: 4.5rem; background: #222; color: #fff; text-align: center; line-height: 4.5rem; bottom: 0; position: fixed;}

.cs_contactUs_my .select_dress { height: 4.5rem; padding: 0 1.5rem; line-height: 4.5rem;}

.form_field span img { width: 0.7rem; position: absolute; top: calc(50% - 0.35rem); margin: 0 0 0 0.5rem;}




/* PC에서 가져옴 */

.select_hidden {display: none;visibility: hidden;padding-right: 10px;}

/* select */
.select {cursor: pointer;display: inline-block;position: relative;font-size: 1.4rem;color: #333333;width: 100%;height: 40px;}
.select+.select{margin-left: 10px;}
.select_hidden {display: none;visibility: hidden;padding-right: 10px;}
.select_dress {
  position: absolute;top: 0;right: 0;bottom: 0;left: 0;padding: 8px 15px;
  background-color: #ffffff;border: 1px solid #dddddd;box-sizing: border-box;
  -moz-transition: all 0.05s ease-in;-o-transition: all 0.05s ease-in;
  -webkit-transition: all 0.05s ease-in;transition: all 0.05s ease-in;
}
.select_dress:after {
  content: "";width: 0;height: 0;box-sizing: border-box;position: absolute;top: 16px;right: 10px;
  border: 6px solid transparent; border-color: #888888 transparent transparent transparent;  
}
.select_options {
  display: none;position: absolute;top: 100%;right: 0;left: 0;z-index: 2;
  margin: 0;padding: 0;list-style: none;background-color: #ffffff;
  box-sizing: border-box;border: 1px solid #222222;border-top: 0px solid #222222;
}
.select_options li {
  margin: 0;padding: 12px 0;text-indent: 15px;
  -moz-transition: all 0.08s ease-in;-o-transition: all 0.08s ease-in;
  -webkit-transition: all 0.08s ease-in;transition: all 0.08s ease-in;
}
.select_options li:hover{background-color: #dddddd;}
.select_options li[rel="hide"] {display: none;}
.select_options li.disabled {text-decoration:line-through; background:#f5f5f5; color:#bbb}
.select_options li.disabled:hover,
.select_options li.disabled:active {cursor:default;}
.select_dress:active, .select_dress.active {background-color: #ffffff;border: 1px solid #222222;border-bottom: 1px solid #dddddd;}
.select_dress:active:after, .select_dress.active:after {top: 9px;border-color: transparent transparent #888888 transparent;}


/* textarea */
textarea {background-color:transparent;border:1px solid #d7d7d7;width:99%;overflow-y:auto;}
.textarea_full {width:832px; padding:10px}
.textarea_md {width:656px; width: 30%; height:108px; padding:10px; line-height:18px;}
.textarea_sm {width:360px; width: 18%; padding:10px;}
.contactus_cnt {color:#888}

/* input-File-Add */
.imgUpload {position: relative;}
.imgUpload::after {content: '';display: block;clear: both;}
input[type="file"] {
  position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; 
  overflow: hidden; clip:rect(0,0,0,0); border: 0;
}
.fileAdd{
  width: 75px;height:75px;border: 1px solid #dddddd;float: right;font-size: 0;
  background: url('../../../images/pc/ico_btn_file.png') no-repeat;background-position: 50% 50%;
  -webkit-appearance: none; -moz-appearance: none; appearance: none;cursor: pointer;
  background-size: 30px 30px; box-sizing: border-box;
}
.fileAdds {
  padding: 14px 10px;font-size: 14px;color: #222222;border: 1px solid #dddddd;box-sizing: border-box;
  float: right; -webkit-appearance: none;-moz-appearance: none;appearance: none;cursor: pointer;
}
.pics {
  display: inline !important;float: left;margin: 0 10px 0 0;width: 75px;height:75px;
  border: 1px solid #dddddd;box-sizing: border-box;position: relative;
}
.picsThumbs {
  width: auto;height: auto;max-height: 148px;max-width: 148px;margin: auto 0;
  position: absolute;top: 50%;bottom: auto;left: 50%;right: 0;
  transform: translate(-50%, -50%);cursor: pointer;
}
.removes {
  display: block;width: 20px;height: 20px;font-size: 0;text-align: center;cursor: pointer;background-color: #666666;
  position: absolute;top: 0;bottom: auto;left: auto;right: 0;
}
.removes::after {
  content: '';display: inline-block;width: 20px;height: 20px;
  background: url('../../../images/pc/ico_btn_cls1.png') no-repeat;background-position: 50% 50%;
}
