@charset "UTF-8";

/* pd_product_venefit */
table.venefit{width:100%;}
table.venefit thead tr th{font-size:1.3rem; font-weight:600; padding:1.4rem 0; border-bottom:0.1rem solid #b5b5b5; color:#222222}
table.venefit tbody tr{border-bottom:0.1rem solid #f9f9f9; border-top:0.1rem solid #f4f4f4;}
table.venefit tbody tr td{font-size:1.3rem; color:#222222; font-weight:500;}
table.venefit tbody tr:first-child{border-top:0.1rem solid #6c6c6c;}

table.vene_type1 tbody tr{display:flex; justify-content:space-between;}
table.vene_type1 tbody tr td{padding:1.9rem 1.1rem;}
table.vene_type1 tbody tr td:nth-of-type(2){color:#fd4802}

table.vene_type1-2 tbody tr{display:flex; justify-content:space-between;}
table.vene_type1-2 tbody tr td{padding:1.6rem;}
table.vene_type1-2 tbody tr td p{color:#fd4802}

table.vene_type2 tbody tr{display:flex;}
table.vene_type2 tbody tr td:first-child{width:8rem;}
table.vene_type2 tbody tr td{padding:1.6rem;}
table.vene_type2 tbody tr td:nth-of-type(2){color:#666666; font-weight:300;}
table.vene_type2 tbody tr td a{position:relative; top:0.5rem}

.vene_tip_text{font-size:1.3rem; margin-top:1.9rem; padding-left:0.8rem; line-height:2.5rem; padding-bottom:5.9rem;}
.vene_tip_text p:after{content:"*"; position:absolute; left:0; margin-top:0.3rem;}

/* pd_size_info */
.size_info_tab{display:flex; border-bottom:0.1rem solid #eeeeee;}
.size_info_tab button{padding:1.6rem 2.7rem; text-align:center;width:100%; font-size:1.5rem; font-weight:bold; color:#222222}
.size_info_tab button.active{border-bottom:0.3rem solid #fd4802; color:#fd4802;}

.real_size{overflow:hidden;}
.real_size > p{font-size:1.4rem; color:#222222; text-align:center; font-weight:600; letter-spacing:0.02rem;}
.real_size > p:nth-of-type(1){margin-top:2.2rem}
.real_size > p:nth-of-type(2){margin-top:0.8rem; margin-bottom:1rem;}
.real_size > .table_tit{display:flex; justify-content:space-between; margin-top:2rem; margin-bottom:1rem;}
.real_size > .table_tit > p{font-size:1.3rem; font-weight:500;}
.real_size > .table_tit > p:nth-of-type(1){font-size:1.4rem; color:#000}
.real_size > .table_tit > p:nth-of-type(2){color:#9e9e9e}

.size_table{width:100%;}
.size_table thead tr{border-bottom:0.2rem solid #f6f6f6; border-top:0.2rem solid #3f3f3f; background-color:#f5f5f5;}
.size_table thead tr th{padding:1.4rem 1.8rem 1.2rem 1.6rem; text-align:center; color:#222222; font-size:1.5rem; font-weight:700;}
.size_table tbody tr{border-bottom:0.2rem solid #f6f6f6}
.size_table tbody tr td:first-child{color:#222222}
.size_table tbody tr td{text-align:center; padding:1.4rem; font-weight:600; font-size:1.4rem;}

.measure_img{width:100%; height:42.4rem; background-color: tan; margin-top:2.4rem; margin-bottom:3rem}
.measure_text{margin-bottom:1.6rem;}
.measure_text h2{font-size:1.3rem; margin-bottom:0.6rem;}
.measure_text p{font-size:1.2rem;}

.income_alram .permi{display:flex; border-bottom:0.1rem solid #dddddd; height:13.8rem; margin-bottom:3rem; margin-top:1rem;}
.income_alram .permi .info_img{width:7rem; height:10.5rem; background-color:tan;}
.income_alram .permi .info_text{margin-left:1.9rem}
.income_alram .permi .info_text p:nth-of-type(1){font-size:1rem; font-weight:600;}
.income_alram .permi .info_text p:nth-of-type(2){font-size:1.3rem; font-weight:500;}
.income_alram .permi .info_text p:nth-of-type(2) > span{color:#000}
.income_alram .measure_text h2{margin-bottom:1.5rem;}
.income_alram .measure_text > ul{display:flex;}
.income_alram .measure_text > ul > li > button{width:6rem; height:3.4rem; border:0.1rem solid #dddddd; margin-right:0.5rem; font-size:0.1rem; font-weight:bold; color:#000}
.income_alram .measure_text > ul > li > button.active{border:0.1rem solid red;}
.income_btn-b{background-color:#000 !important; color:#fff}
.income_btn-o{background-color:#fd4802 !important; color:#fff}

/* pd_product_persenal */
.income_alram .permi .info_text.type1{padding-top:0.8rem;}
.income_alram .permi .info_text.type1 .info_price > p{font-size:1.2rem;text-decoration:line-through; margin-bottom:-0.4rem; margin-top:0.3rem;}
.income_alram .permi .info_text.type1 .info_price > span:nth-of-type(1){font-size:1.6rem; color:#000; font-weight:600;}
.income_alram .permi .info_text.type1 .info_price > span:nth-of-type(2){font-size:1.6rem; color:#fd4802; margin-left:1.2rem; font-weight:600;}
.income_alram .permi .info_text.type2{padding-top:1.7rem;}
.income_alram .permi .info_text.type2 .info_price > span{font-weight:bold;}
.income_alram .permi .info_text.type2 .info_price > span:nth-of-type(1){font-size:1.6rem; color:#000;}
.income_alram .permi .info_text.type2 .info_price > span:nth-of-type(2){font-size:1.2rem;text-decoration:line-through;}
.income_alram .permi .info_text.type2 .info_price > span:nth-of-type(3){font-size:1.6rem; color:#fd4802; margin-left:1.2rem; font-weight:600;}
.income_alram .permi_reserv{width:100%; height:50rem; background:url(/images/mo/pd_product_reserv.png);}
.income_alram .permi.mg0{height:10.5rem; margin-top:-3rem;}
.income_alram .permi.mg0:nth-of-type(1){margin-top:0; border-top:0.1rem solid #dddddd;}
.income_alram .persenal_text div{margin-bottom:2rem;}
.income_alram .persenal_text h2{font-size:1.3rem; margin-bottom:1rem;}
.income_alram .persenal_text p{font-size:1.3rem;}
.income_alram .persenal_text .p-type2 > p{padding-left:0.8rem;}
.income_alram .persenal_text .p-type2 > p:after{content:"-"; position:absolute; left:0}


/* br_main */
.br .pnb_mo{position:relative;}
.br .pnb_mo > ul{display:flex; padding:0 0.8rem; height:5rem; line-height:5rem; background-color:#222222;}
.br .pnb_mo > ul > li > a{font-size:1.6rem; color:#686868; font-weight:500; padding:0 1.2rem;}
.br .pnb_mo > ul > li > a.on{color:#fff}
.br .pnb_mo > button{background:url(/images/mo/br_plus.png) no-repeat; width:3.8rem; height:1.9rem; background-color:red; text-indent:-9999px; position:absolute; z-index:9; top:1.6rem; right:0; background-color:#222222;}
.br_main{background-color:#fff;}
.br .br_main .br_top_slide .swiper-slide img{width:100%;}
.br .br_main .br_top_slide .swiper-slide .s-text{position:relative; top:-19.5rem; left:1.9rem; color:#fff}
.br .br_main .br_top_slide .swiper-slide .s-text h1{font-size:2.9rem; color:#fff; line-height:3.6rem}
.br .br_main .br_top_slide .swiper-slide .s-text p{font-size:1.5rem; color:#fff; margin-top:0.6rem}
.br .br_main .br_top_slide .swiper-pagination{width:6rem; border-radius:1.2rem; display:inline-block; height:2.3rem; line-height:2.4rem; position:absolute; left:2rem; bottom:14rem; color:#fff; background-color:rgba(0, 0, 0, 0.3);}
.br .br_main .br_top_slide .swiper-pagination-total{font-weight:200;}
.br .br_main .br_top_info{position:relative; top:-8rem}
.br .br_main .br_top_info > h1{margin-bottom:2.3rem; margin-top:1.2rem; font-size:2.4rem}
.br .br_main .br_top_info > p:nth-of-type(1){margin-bottom:1.6rem; font-weight:bold;}
.br .br_main .br_top_info > p:nth-of-type(2){color:#777777; line-height:2rem;}
.br .br_main .br_top_info .btn_group_flex > div > button > span{display:inline-block; background:url(/images/mo/br_site.png) no-repeat; width:1.1rem; height:1.2rem; margin-left:0.8rem}

.br .br_main .br_second_slide{position:relative; top:-2.4rem}
.br .br_main .br_second_slide .swiper-slide img{width:100%;}
.br .br_main .br_second_slide .swiper-slide .s-text{position:relative; top:-9rem; margin-left:1.9rem}
.br .br_main .br_second_slide .swiper-slide .s-text p{font-size:1.6rem; font-weight:500;}

.br .br_main .swiper-container > h1{text-align:center; font-size:1.8rem; margin-bottom:2.3rem; font-weight:bold;}
.br .pd_together{position:relative; margin-top:6rem}
.br .pd_together > .tit{text-align:center; font-size:1.7rem; margin-bottom:2.3rem; font-weight:bold;}
.br .pd_recommend > .tit{text-align:center; font-size:1.7rem; margin-bottom:2.3rem; font-weight:bold;}

.br .br_main .br_third_slide{position:relative; top:2rem}
.br .br_main .br_third_slide .swiper-slide{margin-right:0.9rem;}
.br .br_main .br_third_slide .swiper-slide > a > div{width:49%; float:left; margin-bottom:36px; position:relative;}
.br .br_main .br_third_slide .swiper-slide > a:nth-of-type(even) > div{float:right;}
.br .br_main .br_third_slide .swiper-slide .s-text{margin-left:0.5rem}
.br .br_main .br_third_slide .swiper-slide .s-text > p:nth-of-type(1){font-size:1.2rem; margin-top:1.4rem;}
.br .br_main .br_third_slide .swiper-slide .s-text > p:nth-of-type(2){font-size:1.2rem; margin-top:0.6rem}
.br .br_main .br_third_slide .swiper-slide .s-text > p:nth-of-type(3){font-size:1.4rem; color:#222222; font-weight:bold; margin-top:1rem}
.br .br_main .br_third_slide .swiper-slide .s-text > p:nth-of-type(4){font-size:1.2rem; color:#fd5413; margin-top:0.6rem}
.br .br_main .br_third_slide .swiper-pagination{position:relative;};
.br .br_main .br_fourth_slide .swiper-slide{display:flex;}
.br .br_main .br_fourth_slide .swiper-slide > div{background-color: royalblue;}

.br .br_main .itemPrice_original{margin-left:0.6rem; width:3rem;}
.br .br_main .pd_together .itemPrice{overflow:hidden;}
.br .br_main .pd_together .itemPrice_sale{float: left;}
.br .br_main .pd_together .itemPercent{float: right;}
.br .br_main .pd_together .itemTag{font-size:1.1rem; color:#fd5413; margin-left:0.6rem; margin-top:0.4rem}
.itemColor{margin-left:0.5rem;}
.itemColor > li{width:1rem; height:1rem; background-color:#fff; display:inline-block; border-radius:50%; margin-top:1.2rem; margin-right:0.2rem; border:1px solid rgb(194, 194, 194);}
.itemList{margin-top:1.2rem; margin-bottom:0.6rem; margin-left:0.5rem}
.itemList > li{display:inline; font-size:1rem; padding:0.6rem 0.4rem; background-color:#f5f5f5; margin-right:0.3rem;}
.itemList > li:last-child{margin-right:0;}
.tbj_product .itemTag{font-size:1.1rem; color:#fd5413; margin-left:0.6rem; margin-top:1.6rem;}

.br .br_main .special_shop{position:relative; margin-top:6rem}
.br .br_main .special_shop > h1{text-align:center; font-size:1.9rem; margin-bottom:2.4rem}
.br .br_main .special_shop .swiper-slide{position:relative; margin-right:0.8rem;}
.br .br_main .special_shop .swiper-slide img{width:100%; margin-bottom:1.9rem;}
.br .br_main .special_shop .swiper-slide .s-text{position:absolute; top:19rem; margin-left:1.9rem;}
.br .br_main .special_shop .swiper-slide .s-text p{font-size:2.3rem; font-weight:500;; color:#fff; font-weight:300;}
.br .br_main .special_shop .swiper-slide .s-text p:nth-of-type(2){font-size:1.2rem; font-weight:100; margin-top:0.8rem}
.br .br_main .special_shop .swiper-slide .s-info > a{display:flex;}
.br .br_main .special_shop .swiper-slide .s-info > a > img{width:7rem; height:10.8rem;}
.br .br_main .special_shop .swiper-slide .s-info_text{margin-left:1.9rem; margin-top:1.3rem}
.br .br_main .special_shop .swiper-slide .s-info_text .itemPercent{left:4.5rem;}

.recommendedArea{position:relative; margin-top:3rem}
.reco_pop{background-color:#fff; position:absolute; z-index:999; top:50%; left:50%; transform:translate(-50%, -100%); width:26.6rem; height:12rem;}
.reco_pop > a > img{margin:1.5rem 0 0 1.5rem;}
.reco_pop > a > .pop-text{float:right; margin-right:3.6rem; margin-top:2.4rem}
.reco_pop > a > .pop-text > h2{font-size:0.8rem; color:#8e8e8e}
.reco_pop > a > .pop-text > p{font-size:1.1rem; margin-top:0.6rem; margin-bottom:0.8rem; color:#595959}
.reco_pop > a > .pop-text > span{font-size:1.2rem; font-weight:bold;}
.reco_pop > a > .pop-arrow{position:absolute; right:0; top:5rem; display:inline-block; width:0.6rem; height:1.1rem; text-indent:-9999px; background:url(/images/mo/br_pop_arrow.png); margin-right:1.5rem;}
.recommendedArea .pd_recommend .swiper-pagination{background:rgba(0, 0, 0, 0.3); color:#fff; width:5.5rem; border-radius:1rem; height:2.2rem; line-height:2.2rem;}
.recommendedArea .pd_recommend .swiper-pagination-total{font-weight:200;}
.reco_information{width:100%;}
.reco_information .pop_info{margin-left:2rem; margin-right:2rem; height:3.4rem; overflow:hidden;}
.reco_information > button{display:block; margin:0 auto; margin-top:2rem; font-weight:600;}
.reco_information > button > span{text-indent:-9999px; display:inline-block; width:1.2rem; height:0.7rem; background:url(/images/mo/br_arrow_down.png) no-repeat; position:relative; top:0.3rem; left:0.5rem}

.br .br_main .youtu{width:calc(100% - 4rem); height:32.8rem; background-color:#444444; padding:0 2rem; position:relative; top:1.6rem; margin:0 auto;}
.br .br_main .youtu > h1{text-align:center; font-size:1.9rem; padding-top:4rem; margin-bottom:2.2rem; font-weight:bold; color:#fff}
.br .br_main .br_youtube_slide .swiper-slide{height:20.5rem; width:100%;}
.br .br_main .br_youtube_slide .swiper-slide iframe{height:16.8rem; position:absolute; left:50%; transform:translate(-50%);}
.br .br_main .br_youtube_slide .swiper-pagination{position:relative;}
.br .br_main .br_youtube_slide .swiper-pagination .swiper-pagination-bullet{background-color:#dddddd; opacity:1; margin-right:0.7rem;}
.br .br_main .br_youtube_slide .swiper-pagination .swiper-pagination-bullet-active{background-color:#fd4802;}

.br .br_main .tbj_product{margin-top:7rem}
.br .br_main .tbj_product .btn{width:100%; height:4rem; height:4rem; line-height:4rem;}
.br .br_main .tbj_product > h1{text-align:center; font-size:1.8rem; margin-bottom:2.3rem; font-weight:bold;}
.br .br_main .tbj_product .item_prod{width:49%; float:left; margin-bottom:36px; position:relative;}
.br .br_main .tbj_product .item_prod:nth-of-type(even){float:right;}
.br .br_main .tbj_product .item_prod .s-text{margin-top:1.5rem}

.pd_together .swiper-container{overflow:visible;}
.special_shop .swiper-container{overflow:visible;}




/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */





/* 네이버쿠폰 팝업 */
.modal .naver .modal-header { padding: 2.5rem 2rem 2rem;}
.modal .naver .modal_img { width: 20rem; height: 11.2rem; background: url(/images/mo/coupon_naver8.png); background-size: 20rem 11.2rem; margin: 0 auto; }
.modal .naver .modal-body { padding: 2rem 2rem 3rem;}
.modal .naver .modal-body p { font-size: 1.2rem; padding: 0 0 0.9rem; color: #666666;}
.modal .naver .modal-body p:last-child { padding-bottom: 0;}
.modal .naver .modal-footer { margin: 0;}
.modal .naver .modal-footer .btn { background: #fd4802;}

/* 쿠폰모두받기 팝업 */
.modal.wide { width: 100%; position: fixed; left: 0; bottom: 0;}
.modal.wide .coupon_all .modal-header { padding: 3rem 2rem 2.5rem;}
.modal.wide .coupon_all .modal-body { width: 100%; height: 100%; padding: 0 2rem; margin: 0 auto; }
.modal_coupon { width: 100%; background: url(/images/mo/coupon.png) no-repeat center; background-size: 100% auto; margin: 0 auto;}
.modal_coupon li:nth-child(1) { padding: 2.5rem 0 1rem 2rem; font-size: 1.2rem; color: rgb(19,19,19); font-weight: 500;}
.modal_coupon li:nth-child(2) { padding: 0 0 0 2rem; font-size: 1.8rem; font-weight: 800; color: #fd7039;}
.modal_coupon li:nth-child(3) { padding: 1.2rem 0 0 2rem; font-size: 1.2rem; color: #666666;}
.modal_coupon li:nth-child(4) { padding: 0 0 3.3rem 2rem; font-size: 1.2rem; color: #666666;}
.modal.wide .coupon_all .modal-body .btn { height: 4rem;}
.modal.wide .coupon_all .modal-footer .btn { height: 5.9rem; background: #fd4802; }

/* 쿠폰모두받기 - 완료 */
.modal.wide .coupon_all .modal-body.done .btn { background: #aaaaaa; border: none; }
.modal.wide .coupon_all .modal-footer.done .btn {background: #aaaaaa; border: none;}


/* 배송/반품/교환 title */
.modal .pop_full_wrap .modal-header { height: 9rem; padding: 0;}
.modal .pop_full_wrap .modal-title { display: flex;}
.modal .pop_full_wrap .modal-title .title_img { width: 5.5rem; height: 9rem; margin: 0 2rem 0 0; background: url(/images/pc/thumb/tmp_pdDetail1.jpg) no-repeat center; background-size: 4rem 6rem;}
.modal .pop_full_wrap .modal-title .title_text { height: 9rem;}
.modal .pop_full_wrap .modal-title .title_text p { font-size: 1.3rem; font-weight: 600; padding-top: 2.5rem;}
.modal .pop_full_wrap .modal-title .title_text span { display: block; font-weight: 300; padding-bottom: 1rem;}
/* 배송/반품/교환 delivery */
.modal .pop_full_wrap .modal-body { padding: 0;}
.modal .pop_full_wrap .modal-body .inner { padding-bottom: 0;}
.modal .pop_full_wrap .modal-body .delivery { margin: 9rem 0 0; padding: 3rem 0 4rem;}
.modal .pop_full_wrap .modal-body h2 { font-size: 1.6rem;}
.modal .pop_full_wrap .modal-body h3 { padding: 2rem 0 0.6rem; font-size: 1.2rem;}
.modal .pop_full_wrap .modal-body p { position: relative; padding: 0.6rem 0 0 0.5rem; font-size: 1.2rem;}
.dot:after{ content:"·"; position: absolute; top: 0.5rem; left: 0; }
.modal .pop_full_wrap .pop_board { border: 1.2rem solid #f5f5f5;}
/* 배송/반품/교환 change */
.modal .pop_full_wrap .modal-body .change { margin: 0; padding: 4rem 0 6rem;}
.modal .pop_full_wrap .change .pop_table { width: 100%; margin: 2rem 0 1rem; border-top: 0.1rem solid #222222;}
.modal .pop_full_wrap .change .pop_table tr td:first-child {width: 10rem; padding: 0 0 0 1.2rem; font-weight: 800; background: #f5f5f5;}
.modal .pop_full_wrap .change .pop_table tr td { font-size: 1.2rem; padding: 2.5rem 0 2.5rem 1.2rem; align-items: center; border-bottom: 1px solid #eeeeee; }

/* qnalist 팝업 */
.modal .pop_full_wrap .modal-body.qnalist { margin: 9rem 0 0; padding: 3rem 0 4rem;}
.modal .pop_full_wrap .modal-body.qnalist .btn { width: 100%; margin: 2rem 0 2.3rem; border: 0.2rem solid #a7a7a7;}
.modal .pop_full_wrap .modal-footer .btn { font-size: 1.5rem; position: absolute; bottom: 0; background: #222222; color: #ffffff;}
/* qnalist_1 */
.modal .pop_full_wrap .qnalist .check { padding: 0 0 1rem; display: flex;}
.modal .pop_full_wrap .qnalist .check > li:first-child {width: 2rem; height: 2rem; background: url(/images/mo/check.png) no-repeat center; background-size: 100% auto; margin: 0 0.6rem 0 0;}
.modal .pop_full_wrap .qnalist .check > li:last-child { font-size: 1.2rem; line-height: 2rem;}
.modal .pop_full_wrap .qnalist .fold_head .fold_state { font-size: 1rem;}
.modal .pop_full_wrap .qnalist .fold_head .prod { font-size: 1rem; color: #fd4802; font-weight: 600; margin: 0 0.5rem 0 0;}
.modal .pop_full_wrap .qnalist .fold_head .prod_img { width: 1.4rem; height: 1.4rem; background: url(/images/pc/ico_secret.png) no-repeat center; background-size: 100% auto;}
.modal .pop_full_wrap .qnalist .fold_head a { padding: 2rem 2rem 1.8rem;}
.modal .pop_full_wrap .qnalist .fold_head .lap1 { margin: 0 0 0.8rem;}
.modal .pop_full_wrap .qnalist .fold_head .lap2 { font-size: 1.3rem; font-weight: bold; margin: 0 0 0.8rem;}
.modal .pop_full_wrap .qnalist .fold_head .id { padding: 0 1rem 0 0 ; color: #888; border-right: 1px solid #dddddd;}
.modal .pop_full_wrap .qnalist .fold_head .data { padding: 0 0 0 1rem;}
.modal .pop_full_wrap .qnalist .fold_head.fold_my {background: #fff6f2;}
.modal .pop_full_wrap .qnalist .foldGroup > ul > li:first-child { border-top: 1px solid #E5E5E5;}
.modal .pop_full_wrap .qnalist .ui_foot p { text-align: center; color: #666666;}
.modal .modal-footer .btn { font-size: 1.5rem; background: #222222; color: #ffffff;}
/* qnalist_2 */
.modal .pop_full_wrap .modal-body.qnalist .no_qna { padding: 14rem 0 0; text-align: center;}
.modal .pop_full_wrap .modal-body.qnalist .no_qna p { font-size: 1.2rem; color: #666666;}
/* qnalist_3 */
.modal .pop_contact .modal-header { padding: 1.6rem 0; border: none;}
.modal .pop_contact .modal-body { padding: 0;}
.modal .pop_contact .modal-body p { position: relative; padding: 0.6rem 0 0 0.5rem; font-size: 1.2rem;}
.modal .pop_contact .modal-body .inner:nth-child(1) { padding-bottom: 3rem;}
.modal .pop_contact .modal-body .inner { padding-bottom: 0;}
.modal .pop_contact .doc_contactus { width: 100%; padding: 1.2rem; box-sizing: border-box;}
.modal .pop_contact .txt_cnt .contactus_cnt {position:absolute; right:1.4rem; bottom:1.2rem; text-align:right; font-size:1.2rem;}
.modal .pop_contact .modal-body .txt_cnt { margin: 0; padding: 0;}
.modal .pop_contact .inner .check { padding: 1rem 0 1.4rem; display: flex;}
.modal .pop_contact .qnalist .check > li:first-child {width: 2rem; height: 2rem; background: url(/images/mo/check.png) no-repeat center; background-size: 100% auto; margin: 0 0.6rem 0 0;}
.modal .pop_contact .qnalist .check > li:last-child { font-size: 1.2rem; line-height: 2rem;}
.modal .pop_contact .form_field .cellphone {display:block;}
.modal .pop_contact .form_field .cellphone input[type="text"]{width:40rem;}
.modal .pop_contact .form_field .cellphone .ck_box {display:inline-block;}
.modal .pop_contact .cellphone .input_wrap{display:flex; flex-wrap:wrap;}
.modal .pop_contact .cellphone .input_wrap .tt{padding:0.3rem 0; margin-right:3rem; font-weight:600;}
.modal .pop_contact .tt { font-size: 1.4rem; line-height: 3.1rem;}
.modal .pop_contact .form_field .cellphone .ck_box {display:inline-block;}
.modal .pop_contact .ck_box { padding:0.3rem 0; line-height: 3.1rem;}
.modal .pop_contact .ck_box input[type="checkbox"] + label {font-size:1.6rem; font-weight:200;}
.modal .pop_contact .ck_box:first-child{margin-right:2rem;}
.modal .pop_contact .modal-footer .btn { position: absolute; bottom: 0; }

/* pd_deal_detail 리뷰 */
.pd_deal_detail .inner.wide { padding-bottom: 0;}
.pd_deal_detail .title_wrap {display: flex; justify-content: space-between; padding: 1.5rem 2rem; border-bottom: 1px solid #dddddd;}
.pd_deal_detail .title_wrap .img { width: 4rem; height: auto; margin: 0 1.3rem 0 0; background: url(/images/pc/thumb/tmp_pdDetail1.jpg) no-repeat center; background-size: 100% auto; }
.pd_deal_detail .title_wrap .text_Wrap { width: 25rem; font-size: 1rem; padding: 0.8rem 0;}
.pd_deal_detail .title_wrap .text_Wrap p { padding: 1rem 0;}
.pd_deal_detail .title_wrap .text_Wrap p span { font-weight: 800;}
.pd_deal_detail .title_wrap .down { width: 3rem; background: url(/images/mo/pd_btn.png) no-repeat center; background-size: 1rem 0.7rem;}
.pd_deal_detail .star { width: 100%; padding: 3rem 0 1.4rem; text-align: center; color: #fd4802; font-weight: 500;}
.pd_deal_detail .star p { font-size: 1.4rem; padding: 0 0 0.8rem; }
.pd_deal_detail .size_wrap .size { display: flex; justify-content: space-between; padding: 0.4rem 0;}
.pd_deal_detail .size_wrap .size li { line-height: 3.6rem; font-size: 1.4rem; font-weight: 500;}
.pd_deal_detail .size_wrap .size li:nth-child(1) { border: 0.15rem solid #fd4802; border-radius: 1.3rem; width: 6rem; height: 2.5rem; font-size: 1.2rem; text-align: center; line-height: 2.5rem; color: #fd4802; margin: 0.4rem 0 0;}
.pd_deal_detail .size_wrap .size li:nth-child(2) { width: 4.5rem;}
.pd_deal_detail .size_wrap .size li:nth-child(3) { width: 15.8rem; height: 0; margin: 1.8rem 0 0; border: 1px dashed #dddddd; }
.pd_deal_detail .btn {width: 100%; margin: 2rem auto 2.3rem; border: 0.2rem solid #a7a7a7;}
.pd_deal_detail .btn .button_wrap { display: flex; width: 8rem; margin: 0 auto; text-align: center;}
.pd_deal_detail .btn .button_wrap p { margin: 0 0.8rem 0 0; line-height: 3.6rem; font-size: 1.2rem; font-weight: 600;}
.pd_deal_detail .btn figure { width: 1.2rem; height: 0.8rem; background: url(/images/mo/ico_btn_more.png) no-repeat center; background-size: 1.2rem 0.8rem; margin: 1.4rem 0; }

/* .pd_deal_detail .inner:last-child { padding-bottom: 1.6rem !important;} */
.pd_deal_detail .review_point_wrap { padding: 2.4rem 0; margin: 0 0 1.6rem; background: #fff6f2;}
.pd_deal_detail .review_point_to { width: 26rem; display: flex; margin: 0 auto; padding: 0 0 1.5rem;}
.pd_deal_detail .review_point_to figure { width: 1.6rem; height: 1.6rem; background: url(/images/mo/ico_point.png) no-repeat center; background-size: 1.6rem 1.6rem; margin: 0 0.5rem 0 0;}
.pd_deal_detail .review_point_to p { font-size: 1.4rem; font-weight: 500;}
.pd_deal_detail .review_point_bo { display: flex; justify-content: space-between; text-align: center;}
.pd_deal_detail .review_point_bo ul { width: 33.3333%;}
.pd_deal_detail .review_point_bo ul li:first-child { padding: 0 0 1rem; font-size: 1rem; color: #888;}
.pd_deal_detail .review_point_bo ul li:last-child { font-size: 1.4rem; font-weight: 900;}

.pd_deal_detail .review_bottom { width: 100%; height: 5.8rem; display: flex; align-items: center; background: #222222;}
.pd_deal_detail .review_bottom .icon { width: 40%; margin: 0 0.8rem; display: flex;}
.pd_deal_detail .review_bottom .share_wrap { width: 50%; height: 5.8rem; margin: 0; }
.pd_deal_detail .review_bottom .share { width: 2rem; height: 2rem; background: url(/images/mo/share_white.png)no-repeat center; background-size: 2rem 2rem; margin: 1.9rem auto;}
.pd_deal_detail .review_bottom .like_wrap { width: 50%; height: 5.8rem; margin: 0;}
.pd_deal_detail .review_bottom .like { width: 2.3rem; height: 2rem; background: url(/images/mo/like_white.png)no-repeat center; background-size: 2.3rem 2rem; margin: 1.9rem auto; }
.pd_deal_detail .review_bottom .text { width: 60%; height: 5.8rem; line-height: 5.8rem; background: #fd4802;}
.pd_deal_detail .review_bottom p { width: 22.8rem; text-align: center; font-size: 1.6rem; color: #ffffff; margin: 0 auto;}
.pd_deal_detail .inner:last-child { padding-bottom: 0 !important;}

/* pd_deal_detail 문의 */
.pd_deal_detail .modal-body.qnalist { margin: 0; padding: 3rem 0 4rem;}
.pd_deal_detail .modal-body p { position: relative; padding: 0.6rem 0 0 0.5rem; font-size: 1.2rem; color: #666;}
.pd_deal_detail .modal-body.qnalist .btn { width: 100%; margin: 2rem 0 2.3rem; border: 0.2rem solid #a7a7a7;}
.pd_deal_detail .modal-footer .btn { font-size: 1.5rem; position: absolute; bottom: 0; background: #222222; color: #ffffff;}
.pd_deal_detail .qnalist .check { padding: 0 0 1rem; display: flex;}
.pd_deal_detail .qnalist .check > li:first-child {width: 2rem; height: 2rem; background: url(/images/mo/check.png) no-repeat center; background-size: 100% auto; margin: 0 0.6rem 0 0;}
.pd_deal_detail .qnalist .check > li:last-child { font-size: 1.2rem; line-height: 2rem;}
.pd_deal_detail .qnalist .fold_head .fold_state { font-size: 1rem;}
.pd_deal_detail .qnalist .fold_head .prod { font-size: 1rem; color: #fd4802; font-weight: 600; margin: 0 0.5rem 0 0;}
.pd_deal_detail .qnalist .fold_head .prod_img { width: 1.4rem; height: 1.4rem; background: url(/images/pc/ico_secret.png) no-repeat center; background-size: 100% auto;}
.pd_deal_detail .qnalist .fold_head a { padding: 2rem 2rem 1.8rem;}
.pd_deal_detail .qnalist .fold_head .lap1 { margin: 0 0 0.8rem;}
.pd_deal_detail .qnalist .fold_head .lap2 { font-size: 1.3rem; font-weight: bold; margin: 0 0 0.8rem;}
.pd_deal_detail .qnalist .fold_head .id { padding: 0 1rem 0 0 ; color: #888; border-right: 1px solid #dddddd;}
.pd_deal_detail .qnalist .fold_head .data { padding: 0 0 0 1rem;}
.pd_deal_detail .qnalist .fold_head.fold_my {background: #fff6f2;}
.pd_deal_detail .qnalist .foldGroup > ul > li:first-child { border-top: 1px solid #E5E5E5;}
.pd_deal_detail .qnalist .ui_foot p { text-align: center; color: #666666;}

/* pd_deal_detail 배송/반품/교환 */
.pd_deal_detail .inner .delivery { padding-bottom: 2.7rem;}
.pd_deal_detail .delivery { margin: 0; padding: 3rem 0 4rem;}
.pd_deal_detail .inner .delivery h2 { font-size: 1.6rem;}
.pd_deal_detail .inner .delivery h3 { padding: 2rem 0 0.6rem; font-size: 1.2rem;}
.pd_deal_detail .inner .delivery p { position: relative; padding: 0.6rem 0 0 0.5rem; font-size: 1.2rem; color: #666666;}
.dot:after{ content:"·"; position: absolute; top: 0.5rem; left: 0; }
.pd_deal_detail .pop_board { border: 1.2rem solid #f5f5f5;}
.pd_deal_detail .inner .change { margin: 0; padding: 4rem 0 4.7rem;}
.pd_deal_detail .inner .change .pop_table { width: 100%; margin: 2rem 0 1rem; border-top: 0.1rem solid #222222; color: #666;}
.pd_deal_detail .inner .change .pop_table tr td:first-child {width: 10rem; padding: 0 0 0 1.2rem; font-weight: 800; background: #f5f5f5;}
.pd_deal_detail .inner .change .pop_table tr td { font-size: 1.2rem; padding: 2.5rem 0 2.5rem 1.2rem; align-items: center; border-bottom: 1px solid #eeeeee; }
.pd_deal_detail .inner .change h2 { font-size: 1.6rem;}
.pd_deal_detail .inner .change h3 { padding: 2rem 0 0.6rem; font-size: 1.2rem;}
.pd_deal_detail .inner .change p { position: relative; padding: 0.6rem 0 0 0.5rem; font-size: 1.2rem; color: #666666;}

/* 브랜드 - br_search */
.htop.br { overflow: hidden;}
.htop.br .button_wrap {height: 5.5rem; display: inline-block; float: right; padding: 1.6rem 0 0; margin: 0 2.5rem 0 0; box-sizing: border-box;}
.htop.br .button_wrap .br_search { margin: 0 2.5rem 0 0; }
.htop.br .button_wrap .br_store img:nth-child(1) { width: 1.6rem; height: 2rem; }
/* .htop.br .button_wrap .br_store img:nth-child(2) { width: 1.8rem; height: 1.4rem; position: absolute; top: 1.2rem; right: 1.5rem;} */
.htop.br .button_wrap .br_store span { width: 2.1rem; height: 1.5rem; position: absolute; top: 1.2rem; right: 1.5rem; background: #fd4802; border-radius: 0.8rem; font-size: 0.8rem; color: #fff; line-height: 1.6rem;}

/* 스와이퍼 */
.br_search_wrap .swiper-container { width: 100%; height: 214px; margin-left: auto; margin-right: auto; }
.br_search_wrap .swiper-slide { text-align: center; font-size: 18px; background: #fff; height: calc((100% - 30px) / 2); /* Center slide text vertically--> */ display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; }
.br_search_wrap .swiper-slide {width: 12rem; height: 8rem;}
.br_search_wrap .swiper-slide {border-bottom: 1px solid #eeeeee; border-right: 1px solid #eeeeee;}
.br_search_wrap .swiper-slide:nth-child(1) {border-left: 1px solid #eeeeee;}
.br_search_wrap .swiper-slide:nth-child(2) {border-left: 1px solid #eeeeee;}
.br_search_wrap .swiper-slide li { width: 12.6rem; height: 8rem; margin: 0; padding: 2.5rem 2rem 0; box-sizing: border-box;}
.swiper-pagination-bullet-active { background: #fd4802;}
.br_search_wrap .hmenu .line { width: 100%; height: 1.4rem; background: #f5f5f5; margin: 1rem 0 0;}
.br_search_wrap .hmenu .brand_si .swiper-pagination-bullet{margin-right:0.8rem;}
.br_search_wrap .hmenu .brand_si .swiper-pagination-bullet:last-child{margin-right:0;}
.br_search_wrap .brand_title { width: 100%; height: 4.3rem; margin: 2.4rem 0 0; border-bottom: 2px solid black; }
.br_search_wrap .brand_title input { width: 100%; height: 4.3rem; float: left; border: none;  padding: 0; font-size: 1.6rem; font-weight: 100; color: #888; border-bottom:2px solid #000; margin-bottom:1.6rem;}
.br_search_wrap .brand_title .btn_x { width: 2rem; height: 2rem; background: #aaa; border-radius: 1rem; color: #fff; font-size: 1rem; position: absolute; top: 1.2rem; right: 5rem; }
.br_search_wrap .brand_title button img { width: 2rem; height: 2rem; position: absolute; top: 1.2rem; right: 2rem;}
.br_search_wrap .inner .result {padding-bottom:3rem; margin: 1.5rem 0 1rem; border-bottom:1px solid #dddddd;}
.br_search_wrap .inner:last-child .result {border:0px none;}
.br_search_wrap .inner .result h2 { font-size: 1.6rem; font-weight: 700; margin-bottom:0.6rem;}
.br_search_wrap .brand a {display:block; padding: 2rem 0 0; font-size: 1.2rem;}
.br_search_wrap .brand a span { display: block; font-size: 0.8rem; color: #888;}

/* 브랜드 - br_search_nodata */
.br_search_wrap .nodata { width: 100%; height: 100%; margin: 14rem 0; padding: 0;}
.br_search_wrap .inner.nodata:last-child {margin-bottom: 14rem;}
.br_search_wrap .brand.nodata { text-align: center;}
.br_search_wrap .brand.nodata p { padding: 0 0 2.4rem; font-size: 1.4rem; color: #666;}
.br_search_wrap .brand.nodata .btn { font-size: 1.2rem; border: 0.1rem solid #888; height: 3rem; padding: 0 1rem;}


/* 브랜드 - 룩북 */
.htop.br_lookbook { overflow: hidden; border: none !important;}
header .htop.br_lookbook .btn_back span i { background: #fff;}
header .htop.br_lookbook h1 { color: #fff; margin: 1rem 0 0 2rem;}
header .htop.br_lookbook .btn_back { margin: 1.4rem 0 0 0;}
header .htop.br_lookbook .btn_back img { width: 1.5rem; height: 1rem;}
.htop.br_lookbook .button_wrap {height: 5.5rem; display: inline-block; float: right; padding: 1.6rem 0 0; margin: 0 2.5rem 0 0; box-sizing: border-box;}
.htop.br_lookbook .button_wrap .br_search { margin: 0 2.5rem 0 0; width: 2.3rem; height: 2.4rem;}
.htop.br_lookbook .button_wrap .br_store img:nth-child(1) { width: 1.8rem; height: 2.2rem; }
.htop.br_lookbook .button_wrap .br_store span { width: 2.1rem; height: 1.5rem; position: absolute; top: 1.2rem; right: 1.5rem; background: #fd4802; border-radius: 0.8rem; font-size: 0.8rem; color: #fff; line-height: 1.6rem;}

.br_lookbook .title {font-size: 1.2rem;}
.br_lookbook .title span { color: #fd4802; font-weight: 800;}
.br_lookbook .collection figure { margin: 0 auto; width: 100%; height: 32rem; margin: 0 0 2rem; overflow: hidden; background-repeat: no-repeat; background-position: center center; background-size: cover; }
.br_lookbook .collection figure img { width: 100%; height: auto; }
.br_lookbook .collection p { margin: 0 0 4rem; font-size: 1.2rem; font-weight: 800;}
.last_page { text-align: center; font-size: 1.2rem; padding: 2.4rem 0 6rem; border-top: 1px solid #f5f5f5; color: #a7a7a7; background-color:#fff;}
.last_page.mt50{padding-top:2rem;}
main.container .br_lookbook .inner:last-child {padding-bottom: 0;}
.br_lookbook .no_lb_wrap { text-align: center; margin: 12rem 0 14rem;}
.br_lookbook .no_lb_wrap p { text-align: center; font-size: 1.2rem; color: #a7a7a7; margin: 0 0 2.4rem;}
.br_lookbook .no_lb_wrap .btn { font-size: 1.2rem; height: 3rem; }

/* 브랜드 - 룩북 detail */
.br_lookbook .title { font-size: 1,4rem; font-weight: 800; padding: 1.6rem 0 2rem; margin: 0;}
.br_lookbook .inner { margin-bottom: 0; padding-bottom: 0;}
.br_lookbook .inner .lb_text p { height: 3.4rem; overflow: hidden; margin: 0 0 2.4rem; font-size: 1.2rem; font-weight: 300; line-height: 1.8rem;}
.br_lookbook .inner .lb_text .btn { width: 100%; height: 2.4rem; text-align: center; margin: 0 0 2.4rem; font-size: 1.2rem; border:0px none;}
.br_lookbook .inner .lb_text .btn > p{display:inline}
.br_lookbook .inner .lb_text .btn > span{display:inline-block; width:1.2rem; height:0.7rem; background:url(/images/mo/br_arrow_down.png); margin-left:0.5rem; margin-bottom:0.1rem}

.br .br_lookbook .br_third_slide .swiper-slide{margin-right:0.7rem;}
.br .br_lookbook .br_third_slide .swiper-slide > a > div{width:49%; float:left; margin-bottom:36px; position:relative;}
.br .br_lookbook .br_third_slide .swiper-slide > a:nth-of-type(even) > div{float:right;}
.br .br_lookbook .br_third_slide .swiper-slide .s-text{margin-left:0.5rem}
.br .br_lookbook .br_third_slide .swiper-slide .s-text > p:nth-of-type(1){font-size:0.8rem; margin-top:1.4rem}
.br .br_lookbook .br_third_slide .swiper-slide .s-text > p:nth-of-type(2){font-size:1rem; margin-top:0.6rem}
.br .br_lookbook .br_third_slide .swiper-slide .s-text > p:nth-of-type(3){font-size:1.2rem; color:#222222; font-weight:bold; margin-top:1rem}
.br .br_lookbook .br_third_slide .btn { width: 100%; border-color: #fd4802; color: #fd4802; margin: 0 0 4rem;}
.br .br_lookbook .br_otherbrand { margin: 1.2rem 0 0; padding: 6rem 0 4rem;}
.br .br_lookbook .br_otherbrand .tit { font-size: 1.6rem; text-align: center; margin: 0 0 2rem; }

.br .br_lookbook .item_prod .itemPic { padding-top: 0; height: 15rem;}
.br .br_lookbook .item_prod .itemPic::after { height: 15rem;}

.br .br_lookbook .recommendedArea{margin-top:-3px}


/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ검색ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.sch .sch_result{background-color:#f5f5f5;}
.sch .sch_result .inner{background-color:#fff;}
.sch .sch_result .brand_title { width: 100%; height: 4.3rem; margin: 2.4rem 0 0; border-bottom: 2px solid black; }
.sch .sch_result .brand_title input { width: 100%; height: 4.3rem; float: left; border: none;  padding: 0; font-size: 1.6rem; font-weight: 100; color: #888; border-bottom:2px solid #000; margin-bottom:1.6rem;}
.sch .sch_result .brand_title .btn_x { width: 2rem; height: 2rem; background: #aaa; border-radius: 1rem; color: #fff; font-size: 1rem; position: absolute; top: 1.2rem; right: 5rem; }
.sch .sch_result .brand_title button img { width: 2rem; height: 2rem; position: absolute; top: 1.2rem; right: 2rem;}
.sch .sch_result .hot-key{font-size:1.6rem; margin-bottom:1.6rem;}
.sch .sch_result .related_keyword .sch_list_slide .swiper-wrapper{}
.sch .sch_result .related_keyword .sch_list_slide .swiper-wrapper .swiper-slide{}
.sch .sch_result .related_keyword .sch_list_slide .swiper-wrapper .swiper-slide > a{display:inline-block; background-color:#f5f5f5; padding:0.8rem 1.3rem; border-radius:2rem;}
.sch .sch_result .area_taps{}
.sch .sch_result .area_taps > ul{display:flex; border-top:1px solid #eeeeee; border-bottom:1px solid #eeeeee;}
.sch .sch_result .area_taps > ul > li{width:33.3%; text-align:center;}
.sch .sch_result .area_taps > ul > li > a{display:block; padding:1.5rem 0; font-size:1.4rem; color:#000; font-weight:600; margin-top:0.3rem;}
.sch .sch_result .area_taps > ul > li > a.on{color:#fd4802; border-bottom:2px solid #fd4802;}
.sch .sch_result .area_taps > ul > li > a > span{font-size:0.8rem; color:#888888; margin-left:0.2rem}
.sch .sch_result .tbj_product .swiper-container{overflow:visible;}
.sch .sch_result .tbj_product .swiper-wrapper{}
.sch .sch_result .tbj_product .swiper-slide{display:flex; margin-right:0.6rem;}
.sch .sch_result .tbj_product .itemPrice_original{margin-left:0.6rem; width:3rem;}
.sch .sch_result .tbj_product .item_prod .s-text{margin-top:1.5rem;}
.sch .sch_result .tbj_product > h1{padding:4rem 0 2rem; font-size:1.5rem;}
.sch .sch_result .tbj_product.no-slide .filter-list{margin:4rem 0 2rem}
.sch .sch_result .tbj_product.no-slide > h1{font-size:1.8rem; margin-bottom:2.3rem; font-weight:bold;}
.sch .sch_result .tbj_product.no-slide .item_prod{width:49%; float:left; margin-bottom:36px; position:relative;}
.sch .sch_result .tbj_product.no-slide .item_prod:nth-of-type(even){float:right;}
.sch .sch_result .tbj_product.no-slide .item_prod .s-text{margin-top:1.5rem}
.sch .sch_result .banner{margin:0 -2rem;}
.sch .sch_result .banner > img{width:100%; height:9.3rem; margin-bottom:4rem;}
.sch .sch_result .btPop_full{margin-top:59rem}
.sch .sch_result .btPop_full .btPop_body > ul{padding-top:1.6rem}
.sch .sch_result .btPop_full .btPop_body > ul > li{}
.sch .sch_result .btPop_full .btPop_body > ul > li > a{display:block; border:1px solid #eeeeee; text-align:center; padding:1.4rem 0; font-weight:600; border-radius:3rem; margin-bottom:0.8rem; color:#686868}
.sch .sch_result .btPop_full .btPop_body > ul > li > a.on{border:1px solid #fd4802; color:#fd4802}

.filter-list{display:flex; justify-content:space-between;padding-bottom:2rem; font-size:1.2rem}
.filter-list .f_left > span{color:#fd4802; font-weight:bold;}
.filter-list .f_right > a:nth-of-type(1) > span{display:inline-block; width:0.7rem; height:0.4rem; background:url(/images/mo/shc_arrow.png); position:relative; top:-0.2rem; margin-left:0.5rem}
.filter-list .f_right > a:nth-of-type(2){margin-left:1rem}
.filter-list .f_right > a:nth-of-type(2) > span{display:inline-block; width:1rem; height:1rem; background:url(/images/mo/shc_filter.png); position:relative; top:0.1rem; margin-left:0.5rem}

/* sch_result nodata */
.sch .sch_result .nodata { width: 100%; height: 100%; margin:0; padding:14rem 0;}
.sch .sch_result .inner.nodata:last-child {margin-bottom: 14rem;}
.sch .sch_result .brand.nodata { text-align: center;}
.sch .sch_result .brand.nodata p { padding: 0 0 2.4rem; font-size: 1.4rem; color: #666;}
.sch .sch_result .brand.nodata p.type2 > span{color:#fd4802}
.sch .sch_result .brand.nodata .btn { font-size: 1.2rem; border: 0.1rem solid #888; height: 3rem; padding: 0 1rem;}
.sch .sch_result .tbj_product.no-slide .product-wrapper{overflow:hidden;}

/* sch_result 기획전 */
.sch .sch_result .item_prod{width:100%;}
.sch .sch_result .item_prod .itemName{margin-top:1rem; color:#535353}
.sch .sch_result .item_prod .rank::after{background-color:#fd4802;}
.sch .sch_result .item_prod .rank > span{font-size:0.9rem;}
.sch .sch_result .item_prod .itemPic{padding-top:99%; margin-top:3rem;}
.sch .sch_result .item_prod .itemPlan{display:flex;}
.sch .sch_result .item_prod .itemPlan > div{margin-right:0.6rem;}
.sch .sch_result .item_prod .itemPlan > div:last-child{margin-right:0;}
.sch .sch_result .item_prod .itemEvent{width:100%;}
.sch .sch_result .item_prod .itemEvent p:nth-of-type(1){font-size:1.4rem;}
.sch .sch_result .item_prod .itemEvent p:nth-of-type(2){font-size:0.9rem; color:#8b8b8b}

.sch .sch_result.all .tbj_product{margin-top:1.2rem}
.sch .sch_result.all .search-list > ul{margin-top:1.4rem; margin-bottom:5rem;}
.sch .sch_result.all .search-list > ul > li > a{display:flex; justify-content:space-between; padding:1rem 0 1rem 2rem;}
.sch .sch_result.all .search-list > ul > li > a > p{position:relative;}
.sch .sch_result.all .search-list > ul > li > a > p::after{content:""; background:url(/images/mo/shc_clock.png) no-repeat; width:1.5rem; height:1.6rem; display:inline-block; position:absolute; left:-2rem; top:-0.1rem}
.sch .sch_result.all .search-list > ul > li > a > span{color:#8d8d8d}
.sch .sch_result.all .allresult-tit{display:flex; justify-content:space-between;}
.sch .sch_result.all .allresult-tit > h1{font-size:1.5rem; margin-top:2.5rem; margin-bottom:2rem}
.sch .sch_result.all .allresult-tit > p{margin-right:1.9rem; margin-top:2.5rem; font-size:1.2rem; color:#888888}
.sch .sch_result.all .allresult-tit > p::after{content:""; background:url(/images/mo/shc_refresh.png) no-repeat; width:1.1rem; height:1.1rem; display:inline-block; position:absolute; margin-top:0.2rem; right:2.1rem;}
.sch .sch_result.all .itemTag{border:1px solid #fd4802; display:inline; padding:0.3rem 0.6rem; border-radius:1rem; position:relative; top:1rem}
.sch .sch_result.all .relative-list > ul{border-top:2px solid #f4f4f4; padding-top:1.4rem;}
.sch .sch_result.all .relative-list > ul > li > a {display:block; padding:0.6rem 0;}
.sch .sch_result.all .relative-list > ul > li > a > p{font-weight:500;}
.sch .sch_result.all .relative-list > ul > li > a > p > span{color:#fd4802;}
.sch .sch_result.all .category{margin-top:1.2rem;}
.sch .sch_result.all .category > h2{font-size:1.5rem; padding-top:2.4rem}
.sch .sch_result.all .category > ul{margin-top:1.2rem}
.sch .sch_result.all .category > ul > li > p{display:block; padding:0.5rem 0; color:#a5a5a5; font-size:1.2rem;}
.sch .sch_result.all .category > ul > li > p > span{color:#222222}
.sch .sch_result.all .brand.nodata > p > span{color:#fd4802;}
.sch .sch_result.all .tbj_product.no-slide > h2{font-size:1.5rem; padding-top:2.3rem; margin-bottom:2rem; font-weight:500;}


.sch .sch_result.brand_all .tbj_product{margin-top:1.2rem}
.sch .sch_result.brand_all .search-list > ul{margin-top:1.4rem; margin-bottom:5rem;}
.sch .sch_result.brand_all .search-list > ul > li > a{display:flex; justify-content:space-between; padding:1rem 0 1rem 2rem;}
.sch .sch_result.brand_all .search-list > ul > li > a > p{position:relative;}
.sch .sch_result.brand_all .search-list > ul > li > a > p::after{content:""; background:url(/images/mo/shc_clock.png) no-repeat; width:1.5rem; height:1.6rem; display:inline-block; position:absolute; left:-2rem; top:-0.1rem}
.sch .sch_result.brand_all .search-list > ul > li > a > span{color:#8d8d8d}
.sch .sch_result.brand_all .allresult-tit{display:flex; justify-content:space-between;}
.sch .sch_result.brand_all .allresult-tit > h1{font-size:1.5rem; margin-top:2.5rem; margin-bottom:2rem}
.sch .sch_result.brand_all .allresult-tit > p{margin-right:1.9rem; margin-top:2.5rem; font-size:1.2rem; color:#888888}
.sch .sch_result.brand_all .allresult-tit > p::after{content:""; background:url(/images/mo/shc_refresh.png) no-repeat; width:1.1rem; height:1.1rem; display:inline-block; position:absolute; margin-top:0.2rem; right:2.1rem;}
.sch .sch_result.brand_all .itemTag{display:inline; padding:0.3rem 0; position:relative; top:1rem}
.sch .sch_result.brand_all .itemTag.circle{border:1px solid #fd4802; display:inline; padding:0.3rem 0.6rem; border-radius:1rem; position:relative; top:1rem}
.sch .sch_result.brand_all .relative-list > ul{padding-top:1.4rem;}
.sch .sch_result.brand_all .relative-list > ul > li > a {display:block; padding:0.6rem 0;}
.sch .sch_result.brand_all .relative-list > ul > li > a > p{font-weight:500;}
.sch .sch_result.brand_all .relative-list > ul > li > a > p > span{color:#fd4802;}
.sch .sch_result.brand_all .category{margin-top:1.2rem;}
.sch .sch_result.brand_all .category > h2{font-size:1.5rem; padding-top:2.4rem}
.sch .sch_result.brand_all .category > ul{margin-top:1.2rem}
.sch .sch_result.brand_all .category > ul > li > p{display:block; padding:0.5rem 0; color:#a5a5a5; font-size:1.2rem;}
.sch .sch_result.brand_all .category > ul > li > p > span{color:#222222}
.sch .sch_result.brand_all .brand.nodata > p > span{color:#fd4802;}
.sch .sch_result.brand_all .tbj_product.no-slide > h2{font-size:1.5rem; padding-top:2.3rem; margin-bottom:2rem; font-weight:500;}
.sch .sch_result.brand_all .filter-list{margin-bottom:0 !important}
.sch .sch_result.brand_all .related_keyword{border-bottom:1px solid #eeeeee; margin:-1.3rem -2rem 0; padding:0 2rem 1.3rem;}