@charset "UTF-8";

/* cs 공통 */
.division_line{height:12px; width:100%; background-color:#f5f5f5;}
.cs_search_input{font-size:1.5rem; height:4.8rem; width:100%; border:none !important; border-bottom:2px solid #000 !important; position:relative; padding:0 !important;}
.cs_search_input + button{position:absolute; top:2.6rem; right:2.2rem; background:url(../../../images/mo/cs_search_btn.png) no-repeat; text-indent:-9999px; width:21px; height:21px;}
.cs .inner{padding:1.3rem 2.0rem 1.3rem 2.0rem;}
.cs .inner > p{margin-top:10px;}
.cs .inner.none{position:relative; width:100%; height:312px; color:#808080;}
.cs .inner.none p{position:absolute; left:50%; top:50%; transform:translate(-50%, -50%);}
.cs .see_more{font-size:1.5rem; border:1px solid gray; width:100%; padding:16px; font-weight:bold; position:relative; margin:20px 0 0 0;}
.cs .see_more > span{background:url(../../../images/mo/cs_qna_btn.png) no-repeat; text-indent:-9999px; display:block; width:20px; position:absolute;}

/* cs_faq_1 */
.cs .cs_faq_1 .select_list {margin-top:23px}
.cs .cs_faq_1 .select_list > li{display:inline;}
.cs .cs_faq_1 .select_list > li > button{font-size:1.5rem; border:1px solid #e4e4e4; padding:10px 15px; border-radius:20px; margin-bottom:6px;}
.cs .cs_faq_1 .select_list > li > button.on{background-color:#000; color:#fff}
.cs .cs_faq_1 .qna_list{transition:0.4s;}
.cs .cs_faq_1 .qna_list > li{display:flex; justify-content:space-between; padding:2.6rem 2.0rem; border-bottom:1px solid #e1e1e1; position:relative; margin:0 -2.0rem;}
.cs .cs_faq_1 .qna_list > li > div.title{width:90%;}
.cs .cs_faq_1 .qna_list > li > div.title > p:nth-of-type(1){font-size:1.4rem; color:#a8a8a8; margin-bottom:4px;}
.cs .cs_faq_1 .qna_list > li > div.title > p:nth-of-type(2){font-size:1.7rem; width:100%; line-height:24px; font-weight:600; font-weight:500;}
.cs .cs_faq_1 .qna_list > li > span{background:url(../../../images/mo/cs_qna_btn.png) no-repeat; text-indent:-9999px; display:block; width:20px; position:absolute; top:50%; right:2.0rem;}
.cs .cs_faq_1 .qna_list > li > span.on{background:url(../../../images/mo/cs_qna_btn_on.png) no-repeat;}
.cs .cs_faq_1 .qna_list > div.answer{background-color:#f5f5f5; padding:23px 2.0rem; border-bottom:1px solid #e1e1e1; display:none; overflow:hidden; margin:0 -2.0rem;}
.cs .cs_faq_1 .qna_list > div.answer > p{font-size:1.5rem; width:90%; line-height:24px;}


/* cs_contactUs_1 */
.cs .cs_contactUs_1 ul.inquiry_box{display:flex; height:8.0rem; margin-top:5px; margin-bottom:-25px;}
.cs .cs_contactUs_1 ul.inquiry_box > li{width:33.3%; border-right:2px solid #e4e4e4; height:50px;}
.cs .cs_contactUs_1 ul.inquiry_box > li:nth-last-child(1){border-right:0px none;}
.cs .cs_contactUs_1 ul.inquiry_box > li > p{text-align:center; line-height:26px;}
.cs .cs_contactUs_1 ul.inquiry_box > li > p:nth-of-type(1){color:#000000; font-size:1.8rem; font-weight:bold;}
.cs .cs_contactUs_1 ul.inquiry_box > li > p:nth-of-type(2){color:#696969; font-size:1.4rem; font-weight:500;}
.cs .cs_contactUs_1 .qna_list{transition:0.4s;}
.cs .cs_contactUs_1 .qna_list > li{display:flex; justify-content:space-between; padding:2.6rem 2.0rem; border-bottom:1px solid #e1e1e1; position:relative; margin:0 -2.0rem;}
.cs .cs_contactUs_1 .qna_list > li > div.title{width:90%; overflow:hidden;}
.cs .cs_contactUs_1 .qna_list > li > div.title > span{display:inline-block; background-color:#a4a4a4; color:#fff; padding:1px 4px 0; bottom:10px; margin-bottom:10px; line-height:2.4rem; margin-right:6px}
.cs .cs_contactUs_1 .qna_list > li > div.title > span.on{background-color:#fd4802;}
.cs .cs_contactUs_1 .qna_list > li > div.title > p:nth-of-type(1){font-size:1.4rem; color:#a8a8a8; margin-bottom:4px; display:inline-block; font-weight:500;}
.cs .cs_contactUs_1 .qna_list > li > div.title > p:nth-of-type(2){font-size:1.7rem; width:100%; line-height:24px; font-weight:600;}
.cs .cs_contactUs_1 .qna_list > li > div.title > p:nth-of-type(3){margin-top:4px; color:#828282; font-weight:600;}
.cs .cs_contactUs_1 .qna_list > li > span{background:url(../../../images/mo/cs_qna_btn.png) no-repeat; text-indent:-9999px; display:block; width:20px; position:absolute; top:50%; right:2.0rem;}
.cs .cs_contactUs_1 .qna_list > li > span.on{background:url(../../../images/mo/cs_qna_btn_on.png) no-repeat;}
.cs .cs_contactUs_1 .qna_list > div.answer{background-color:#f5f5f5; padding:23px 2.0rem; border-bottom:1px solid #e1e1e1; display:none; overflow:hidden; margin:0 -2.0rem;}
.cs .cs_contactUs_1 .qna_list > div.answer > p{font-size:1.5rem; width:100%; line-height:24px;}
.cs .cs_contactUs_1 .qna_list > div.answer .form_wrap{margin-top:16px}
.cs .cs_contactUs_1 .qna_list > div.answer .form_wrap .fileAdd{width:100px; height:100px;}
.cs .cs_contactUs_1 .qna_list > div.answer .form_wrap .pics{width:100px; height:100px;}
.cs .cs_contactUs_1 .qna_list > div.answer .two_dep_answer{margin-top:20px}
.cs .cs_contactUs_1 .qna_list > div.answer .two_dep_answer > p{font-size:1.5rem; line-height:24px; width:100%;}
.cs .cs_contactUs_1 .qna_list > div.answer .two_dep_answer > p > span{color:#fd4802;}
.cs .cs_contactUs_1 .qna_list > div.answer .two_dep_answer > div{display:flex; justify-content:space-between; margin-top:6px; color:#828282}
.cs .cs_contactUs_1 .qna_list > div.answer .two_dep_answer > div > p{font-size:1.5rem;}
.cs .cs_contactUs_1 .qna_list > div.answer .two_dep_answer > div > p:nth-of-type(2){border-bottom:1px solid #828282; height:17px;}
.cs .cs_contactUs_1 .inner.m_pb45{padding-bottom:45px;}







