@charset "UTF-8";

/* cs 공통 */
.division_line{height:12px; width:100%; background-color:#f5f5f5;}
.cs_search_input{font-size:1.5rem; height:4.8rem; width:100%; border:none !important; border-bottom:2px solid #000 !important; position:relative; padding:0 !important;}
.cs_search_input + button{position:absolute; top:1.5rem; right:2.2rem; background:url(../../../images/mo/cs_search_btn.png) no-repeat; text-indent:-9999px; width:21px; height:21px;}
.cs .inner{padding:1.3rem 2.0rem 1.3rem 2.0rem;}
.cs .inner > p{margin-top:10px;}
.cs .inner.none{position:relative; width:100%; height:312px; color:#808080;}
.cs .inner.none p{position:absolute; left:50%; top:50%; transform:translate(-50%, -50%);}
.cs .see_more{font-size:1.5rem; border:1px solid gray; width:100%; padding:16px; font-weight:bold; position:relative; margin:20px 0 0 0;}
.cs .see_more > span{background:url(../../../images/mo/cs_qna_btn.png) no-repeat; text-indent:-9999px; display:block; width:20px; position:absolute;}

/* cs_faq_1 */
.cs .cs_faq_1 .select_list {margin-top:23px}
.cs .cs_faq_1 .select_list > li{display:inline;}
.cs .cs_faq_1 .select_list > li > button{font-size:1.5rem; border:1px solid #e4e4e4; padding:10px 15px; border-radius:20px; margin-bottom:6px;}
.cs .cs_faq_1 .select_list > li > button.on{background-color:#000; color:#fff}
.cs .cs_faq_1 .qna_list{transition:0.4s;}
.cs .cs_faq_1 .qna_list > li{display:flex; justify-content:space-between; padding:2.6rem 2.0rem; border-bottom:1px solid #e1e1e1; position:relative; margin:0 -2.0rem;}
.cs .cs_faq_1 .qna_list > li > div.title{width:90%;}
.cs .cs_faq_1 .qna_list > li > div.title > p:nth-of-type(1){font-size:1.4rem; color:#a8a8a8; margin-bottom:4px;}
.cs .cs_faq_1 .qna_list > li > div.title > p:nth-of-type(2){font-size:1.7rem; width:100%; line-height:24px; font-weight:600; font-weight:500;}
.cs .cs_faq_1 .qna_list > li > span{background:url(../../../images/mo/cs_qna_btn.png) no-repeat; text-indent:-9999px; display:block; width:20px; position:absolute; top:50%; right:2.0rem;}
.cs .cs_faq_1 .qna_list > li > span.on{background:url(../../../images/mo/cs_qna_btn_on.png) no-repeat;}
.cs .cs_faq_1 .qna_list > div.answer{background-color:#f5f5f5; padding:23px 2.0rem; border-bottom:1px solid #e1e1e1; display:none; overflow:hidden; margin:0 -2.0rem;}
.cs .cs_faq_1 .qna_list > div.answer > p{font-size:1.5rem; width:90%; line-height:24px;}
.cs .cs_faq_1 .swiper-container{background-color:pink; height:1000px;}
.cs .cs_faq_1 .swiper-container .swiper-wrapper .swiper-slide img{position:absolute; top:50%; transform:translate(0, -50%);}
.cs .cs_faq_1 .swiper-pagination-bullet{height:1.5rem; width:1.5rem;}
.cs .cs_faq_1 .swiper-pagination-bullet.swiper-pagination-bullet-active{background-color:#ff4701;}

/* cs_contactUs_1 */
.cs .cs_contactUs_1 ul.inquiry_box{display:flex; height:8.0rem; margin-top:5px; margin-bottom:-25px;}
.cs .cs_contactUs_1 ul.inquiry_box > li{width:33.3%; border-right:2px solid #e4e4e4; height:50px;}
.cs .cs_contactUs_1 ul.inquiry_box > li:nth-last-child(1){border-right:0px none;}
.cs .cs_contactUs_1 ul.inquiry_box > li > p{text-align:center; line-height:26px;}
.cs .cs_contactUs_1 ul.inquiry_box > li > p:nth-of-type(1){color:#000000; font-size:1.8rem; font-weight:bold;}
.cs .cs_contactUs_1 ul.inquiry_box > li > p:nth-of-type(2){color:#696969; font-size:1.4rem; font-weight:500;}
.cs .cs_contactUs_1 .qna_list{transition:0.4s;}
.cs .cs_contactUs_1 .qna_list > li{display:flex; justify-content:space-between; padding:2.6rem 2.0rem; border-bottom:1px solid #e1e1e1; position:relative; margin:0 -2.0rem;}
.cs .cs_contactUs_1 .qna_list > li > div.title{width:90%; overflow:hidden;}
.cs .cs_contactUs_1 .qna_list > li > div.title > span{display:inline-block; background-color:#a4a4a4; color:#fff; padding:1px 4px 0; bottom:10px; margin-bottom:10px; line-height:2.4rem; margin-right:6px}
.cs .cs_contactUs_1 .qna_list > li > div.title > span.on{background-color:#fd4802;}
.cs .cs_contactUs_1 .qna_list > li > div.title > p:nth-of-type(1){font-size:1.4rem; color:#a8a8a8; margin-bottom:4px; display:inline-block; font-weight:500;}
.cs .cs_contactUs_1 .qna_list > li > div.title > p:nth-of-type(2){font-size:1.7rem; width:100%; line-height:24px; font-weight:600;}
.cs .cs_contactUs_1 .qna_list > li > div.title > p:nth-of-type(3){margin-top:4px; color:#828282; font-weight:600;}
.cs .cs_contactUs_1 .qna_list > li > span{background:url(../../../images/mo/cs_qna_btn.png) no-repeat; text-indent:-9999px; display:block; width:20px; position:absolute; top:50%; right:2.0rem;}
.cs .cs_contactUs_1 .qna_list > li > span.on{background:url(../../../images/mo/cs_qna_btn_on.png) no-repeat;}
.cs .cs_contactUs_1 .qna_list > div.answer{background-color:#f5f5f5; padding:23px 2.0rem; border-bottom:1px solid #e1e1e1; display:none; overflow:hidden; margin:0 -2.0rem;}
.cs .cs_contactUs_1 .qna_list > div.answer > p{font-size:1.5rem; width:100%; line-height:24px;}
.cs .cs_contactUs_1 .qna_list > div.answer .form_wrap{margin-top:16px}
.cs .cs_contactUs_1 .qna_list > div.answer .form_wrap .fileAdd{width:100px; height:100px;}
.cs .cs_contactUs_1 .qna_list > div.answer .form_wrap .pics{width:100px; height:100px;}
.cs .cs_contactUs_1 .qna_list > div.answer .two_dep_answer{margin-top:20px}
.cs .cs_contactUs_1 .qna_list > div.answer .two_dep_answer > p{font-size:1.5rem; line-height:24px; width:100%;}
.cs .cs_contactUs_1 .qna_list > div.answer .two_dep_answer > p > span{color:#fd4802;}
.cs .cs_contactUs_1 .qna_list > div.answer .two_dep_answer > div{display:flex; justify-content:space-between; margin-top:6px; color:#828282}
.cs .cs_contactUs_1 .qna_list > div.answer .two_dep_answer > div > p{font-size:1.5rem;}
.cs .cs_contactUs_1 .qna_list > div.answer .two_dep_answer > div > p:nth-of-type(2){border-bottom:1px solid #828282; height:17px;}
.cs .cs_contactUs_1 .inner.m_pb45{padding-bottom:45px;}











/* cs_faq */
.ui_row.nodata {border:none;}
.ui_row.nodata::after {content:'총 0개의 목록이 있습니다.';}
.quick_list {margin-bottom:50px;}
.quick_list ul,.faq .quick_list ul li {box-sizing: border-box;}
.quick_list ul {width:100%; height: 260px; display: flex; display: -ms-flexbox; flex-wrap: wrap; border:2px solid #000; align-items: center;}
.quick_list ul li {width: 19.99%; height: 49.9%; text-align: center; border-left: 1px solid #ddd; border-bottom: 1px solid #ddd;}.quick_list ul li:nth-child(1),.faq .quick_list ul li:nth-child(6) {border-left:none;}
.quick_list ul li:nth-child(6),.faq .quick_list ul li:nth-child(7),.faq .quick_list ul li:nth-child(8),.faq .quick_list ul li:nth-child(9),.faq .quick_list ul li:nth-child(10) {border-bottom: none;}
.quick_list ul li a {display: flex; display: -ms-flexbox; justify-content: center; width:100%; height: 100%; line-height:26px; font-size:16px; font-weight: 200; align-items: center; color:#222; letter-spacing:-0.025em;}
/* .search_wrap {margin-bottom:60px;} */
.search_wrap .faq_search {height:190px; background:#f5f5f5; padding:50px; box-sizing:border-box; text-align:center;}
.search_wrap .faq_search .search_box {display:inline-block; position:relative; width:600px; padding-right:50px; border-bottom:2px solid #222; box-sizing: border-box; text-align:left;}
.search_wrap .faq_search .search_box input[type='text'] {display:inline-block; width:100%; height:50px; padding-left:0; border:none; background:none; color:#222; font-size:30px; font-weight:200; letter-spacing:-0.025em; line-height:1;}
.search_wrap .faq_search .search_box input[type='text']::placeholder {color:#888;}
.search_wrap .faq_search .search_box .btn_search {display:inline-block; position:absolute; right:0; top:11px; width:28px; height:28px; overflow:hidden; background:url('/images/pc/ico_search_faq.png') no-repeat 50% 50%; font-size:1px; text-indent:-9999px; z-index:2}
.search_wrap .faq_search .t_info {width:600px; margin:15px auto 0; font-weight:200; text-align:left;}
.search_wrap p{margin-top:8px; font-size:12px; color:#666666;}
.fold_nav {width:100%;}
.fold_nav ul {display: flex; display: -ms-flexbox; flex-wrap: wrap; /*margin-top:-12px*/}
.fold_nav ul li {margin:4px 4px 0 0;}
.fold_nav ul li a {display:inline-block;padding:10px;border: 1px solid #ddd;font-size:12px;font-weight: 300;line-height: 1; letter-spacing:-0.025em; border-radius:20px;}
.fold_nav ul li a.on {position: relative; background: #222; color:#fff; border: 1px solid #222;}
/* .foldGroup {margin-top:50px} */
.foldGroup .fold_head .fold_tit {max-width: 820px;}
.foldGroup .fold_answer .answer_head {margin-bottom:10px}
.foldGroup .fold_cont > div:first-of-type {border-top:1px solid #ddd}

/* swiper */
.swiper-container.cs_pop{height:100%; width:100%;}
.swiper-container.cs_pop .swiper-wrapper .swiper-slide img{position:absolute; top:50%; transform:translate(0, -50%);}
.swiper-container.cs_pop .swiper-pagination-bullet{height:1.5rem; width:1.5rem;}
.swiper-container.cs_pop .swiper-pagination-bullet.swiper-pagination-bullet-active{background-color:#ff4701;}